In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('brand_manufacturer (1) (1).csv')
df

,Unnamed: 0,brand_code,brand_name,manufacturer_code,manufacturer_name,brand_type
0,0,1,110%,3186,Amber Home,External
1,1,1,110%,2244,Concept Home Textiles,External
2,2,1,110%,4037,Abrl- PL,Internal
3,3,1,110%,4279,Own Brands,Internal
4,4,1,110%,1,e,External
...,...,...,...,...,...,...
10011,10011,6599,Jewel,6138,Jewel,External
10012,10012,6600,Jaico,6139,Jaico,External
10013,10013,6603,Good Clean,6142,Jegson Innovative Industries,External
10014,10014,6605,Agrawal's 420 Bite,6146,Agrawal Family Food India LLP,External
10015,10015,6606,KPR,6146,Agrawal Family Food India LLP,External

In [3]:
NSE=pd.read_csv('EQUITY_L.csv')
NSE.head(60)

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2,1,INE105C01023,2
5,4THDIM,Fourth Dimension Solutions Limited,BE,06-SEP-2022,10,1,INE382T01022,10
6,5PAISA,5Paisa Capital Limited,EQ,16-NOV-2017,10,1,INE618L01018,10
7,63MOONS,63 moons technologies limited,EQ,20-JUN-2005,2,1,INE111B01023,2
8,A2ZINFRA,A2Z Infra Engineering Limited,EQ,23-DEC-2010,10,1,INE619I01012,10
9,AAATECH,AAA Technologies Limited,EQ,28-NOV-2022,10,1,INE0D0U01013,10
10,AAKASH,Aakash Exploration Services Limited,EQ,29-SEP-2020,1,1,INE087Z01024,1
11,AAREYDRUGS,Aarey Drugs & Pharmaceuticals Limited,EQ,06-AUG-2021,10,1,INE198H01019,10
12,AARON,Aaron Industries Limited,EQ,06-NOV-2020,10,1,INE721Z01010,10
13,AARTIDRUGS,Aarti Drugs Limited,EQ,19-SEP-2003,10,1,INE767A01016,10
14,AARTIIND,Aarti Industries Limited,EQ,08-FEB-1995,5,1,INE769A01020,5
15,AARTISURF,Aarti Surfactants Limited,EQ,14-JUL-2020,10,1,INE09EO01013,10
16,AARVEEDEN,Aarvee Denims & Exports Limited,EQ,21-NOV-2006,10,1,INE273D01019,10
17,AARVI,Aarvi Encon Limited,EQ,24-JUN-2020,10,1,INE754X01016,10
18,AAVAS,Aavas Financiers Limited,EQ,08-OCT-2018,10,1,INE216P01012,10
19,ABAN,Aban Offshore Limited,EQ,29-MAR-1995,2,1,INE421A01028,2
20,ABB,ABB India Limited,EQ,08-FEB-1995,2,1,INE117A01022,2
21,ABBOTINDIA,Abbott India Limited,EQ,08-JAN-2010,10,1,INE358A01014,10
22,ABCAPITAL,Aditya Birla Capital Limited,EQ,01-SEP-2017,10,1,INE674K01013,10
23,ABFRL,Aditya Birla Fashion and Retail Limited,EQ,17-JUL-2013,10,1,INE647O01011,10
24,ABMINTLLTD,ABM International Limited,BE,09-SEP-2021,10,1,INE251C01025,10
25,ABSLAMC,Aditya Birla Sun Life AMC Limited,EQ,11-OCT-2021,5,1,INE404A01024,5
26,ACC,ACC Limited,EQ,20-NOV-1996,10,1,INE012A01025,10
27,ACCELYA,Accelya Solutions India Limited,EQ,01-DEC-1999,10,1,INE793A01012,10
28,ACCURACY,Accuracy Shipping Limited,EQ,11-DEC-2020,10,1,INE648Z01015,10
29,ACE,Action Construction Equipment Limited,EQ,26-SEP-2006,2,1,INE731H01025,2
30,ACEINTEG,Ace Integrated Solutions Limited,EQ,04-NOV-2022,10,1,INE543V01017,10
31,ACI,Archean Chemical Industries Limited,EQ,21-NOV-2022,2,1,INE128X01021,2
32,ADANIENT,Adani Enterprises Limited,EQ,04-JUN-1997,1,1,INE423A01024,1
33,ADANIGREEN,Adani Green Energy Limited,EQ,18-JUN-2018,10,1,INE364U01010,10
34,ADANIPORTS,Adani Ports and Special Economic Zone Limited,EQ,27-NOV-2007,2,1,INE742F01042,2
35,ADANIPOWER,Adani Power Limited,EQ,20-AUG-2009,10,1,INE814H01011,10
36,ADANITRANS,Adani Transmission Limited,EQ,31-JUL-2015,10,1,INE931S01010,10
37,ADFFOODS,ADF Foods Limited,EQ,15-SEP-2010,10,1,INE982B01019,10
38,ADL,Archidply Decor Limited,BE,01-OCT-2020,10,1,INE0CHO01012,10
39,ADORWELD,Ador Welding Limited,EQ,10-MAY-1995,10,1,INE045A01017,10
40,ADROITINFO,Adroit Infotech Limited,EQ,13-AUG-1997,10,1,INE737B01033,10
41,ADSL,Allied Digital Services Limited,EQ,25-JUL-2007,5,1,INE102I01027,5
42,ADVANIHOTR,Advani Hotels & Resorts (India) Limited,EQ,25-JUN-2007,2,1,INE199C01026,2
43,ADVENZYMES,Advanced Enzyme Technologies Limited,EQ,01-AUG-2016,2,1,INE837H01020,2
44,AEGISCHEM,Aegis Logistics Limited,EQ,03-APR-1996,1,1,INE208C01025,1
45,AETHER,Aether Industries Limited,EQ,03-JUN-2022,10,1,INE0BWX01014,10
46,AFFLE,Affle (India) Limited,EQ,08-AUG-2019,2,1,INE00WC01027,2
47,AGARIND,Agarwal Industrial Corporation Limited,EQ,26-MAY-2014,10,1,INE204E01012,10
48,AGI,AGI Greenpac Limited,EQ,31-MAY-2000,2,1,INE415A01038,2
49,AGRITECH,Agri-Tech (India) Limited,EQ,28-JAN-2014,10,1,INE449G01018,10
50,AGROPHOS,Agro Phos India Limited,EQ,08-MAR-2019,10,1,INE740V01019,10
51,AGSTRA,AGS Transact Technologies Limited,EQ,31-JAN-2022,10,1,INE583L01014,10
52,AHLADA,Ahlada Engineers Limited,EQ,28-JAN-2021,10,1,INE00PV01013,10
53,AHLEAST,Asian Hotels (East) Limited,EQ,11-AUG-2010,10,1,INE926K01017,10
54,AHLUCONT,Ahluwalia Contracts (India) Limited,EQ,14-DEC-2009,2,1,INE758C01029,2
55,AIAENG,AIA Engineering Limited,EQ,14-DEC-2005,2,1,INE212H01026,2
56,AIRAN,Airan Limited,EQ,03-MAY-2019,2,1,INE645W01026,2
57,AIROLAM,Airo Lam limited,EQ,13-OCT-2021,10,1,INE801L01010,10
58,AJANTPHARM,Ajanta Pharma Limited,EQ,29-MAY-2000,2,1,INE031B01049,2
59,AJMERA,Ajmera Realty & Infra India Limited,EQ,16-JUN-2009,10,1,INE298G01027,10

In [4]:
import pandas as pd
from pathlib import Path
import fuzzymatcher
df = pd.read_csv('brand_manufacturer (1) (1).csv')
NSE = pd.read_csv('EQUITY_L.csv')

In [5]:
'''
left_on = ["brand_name"]

right_on = ['NAME OF COMPANY']
    
matched_results = fuzzymatcher.fuzzy_left_join(df,
                                            NSE,
                                            left_on,
                                            right_on,
                                            left_id_col='brand_name',
                                            right_id_col='NAME OF COMPANY')    
    
    
    
    
    
    
    
    
cols = [
    "best_match_score", "brand_name", "NAME OF COMPANY"
]

matched_results[cols].sort_values(by=['best_match_score'], ascending=False)
'''

'\nleft_on = ["brand_name"]\n\nright_on = [\'NAME OF COMPANY\']\n    \nmatched_results = fuzzymatcher.fuzzy_left_join(df,\n                                            NSE,\n                                            left_on,\n                                            right_on,\n                                            left_id_col=\'brand_name\',\n                                            right_id_col=\'NAME OF COMPANY\')    \n    \n    \n    \n    \n    \n    \n    \n    \ncols = [\n    "best_match_score", "brand_name", "NAME OF COMPANY"\n]\n\nmatched_results[cols].sort_values(by=[\'best_match_score\'], ascending=False)\n'

In [6]:
#ok

# Now Analysizng data without duplicates

In [7]:
NSE

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2,1,INE105C01023,2
...,...,...,...,...,...,...,...,...
1879,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10,1,INE358U01012,10
1880,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10,1,INE840M01016,10
1881,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10,1,INE217A01012,10
1882,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1,1,INE010B01027,1
1883,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10,1,INE768C01010,10

In [8]:
NSE_COmapny_Name=NSE['NAME OF COMPANY']

In [9]:
NSE_unique_List=NSE_COmapny_Name.to_list()

In [10]:
NSE_unique_List

['20 Microns Limited',
 '21st Century Management Services Limited',
 '3i Infotech Limited',
 '3M India Limited',
 '3P Land Holdings Limited',
 'Fourth Dimension Solutions Limited',
 '5Paisa Capital Limited',
 '63 moons technologies limited',
 'A2Z Infra Engineering Limited',
 'AAA Technologies Limited',
 'Aakash Exploration Services Limited',
 'Aarey Drugs & Pharmaceuticals Limited',
 'Aaron Industries Limited',
 'Aarti Drugs Limited',
 'Aarti Industries Limited',
 'Aarti Surfactants Limited',
 'Aarvee Denims & Exports Limited',
 'Aarvi Encon Limited',
 'Aavas Financiers Limited',
 'Aban Offshore Limited',
 'ABB India Limited',
 'Abbott India Limited',
 'Aditya Birla Capital Limited',
 'Aditya Birla Fashion and Retail Limited',
 'ABM International Limited',
 'Aditya Birla Sun Life AMC Limited',
 'ACC Limited',
 'Accelya Solutions India Limited',
 'Accuracy Shipping Limited',
 'Action Construction Equipment Limited',
 'Ace Integrated Solutions Limited',
 'Archean Chemical Industries Limited',
 'Adani Enterprises Limited',
 'Adani Green Energy Limited',
 'Adani Ports and Special Economic Zone Limited',
 'Adani Power Limited',
 'Adani Transmission Limited',
 'ADF Foods Limited',
 'Archidply Decor Limited',
 'Ador Welding Limited',
 'Adroit Infotech Limited',
 'Allied Digital Services Limited',
 'Advani Hotels & Resorts (India) Limited',
 'Advanced Enzyme Technologies Limited',
 'Aegis Logistics Limited',
 'Aether Industries Limited',
 'Affle (India) Limited',
 'Agarwal Industrial Corporation Limited',
 'AGI Greenpac Limited',
 'Agri-Tech (India) Limited',
 'Agro Phos India Limited',
 'AGS Transact Technologies Limited',
 'Ahlada Engineers Limited',
 'Asian Hotels (East) Limited',
 'Ahluwalia Contracts (India) Limited',
 'AIA Engineering Limited',
 'Airan Limited',
 'Airo Lam limited',
 'Ajanta Pharma Limited',
 'Ajmera Realty & Infra India Limited',
 'Ajooni Biotech Limited',
 'AJR INFRA AND TOLLING LIMITED',
 'Akash Infra-Projects Limited',
 'Akg Exim Limited',
 'Akshar Spintex Limited',
 'AksharChem India Limited',
 'Aksh Optifibre Limited',
 'Akzo Nobel India Limited',
 'Alankit Limited',
 'Albert David Limited',
 'Alembic Limited',
 'Alicon Castalloy Limited',
 'Alkali Metals Limited',
 'Alkem Laboratories Limited',
 'Alkyl Amines Chemicals Limited',
 'Allcargo Logistics Limited',
 'Allsec Technologies Limited',
 'Almondz Global Securities Limited',
 'Alok Industries Limited',
 'Alpa Laboratories Limited',
 'Alphageo (India) Limited',
 'Alps Industries Limited',
 'Amara Raja Batteries Limited',
 'Amber Enterprises India Limited',
 'Ambica Agarbathies & Aroma industries Limited',
 'Ambika Cotton Mills Limited',
 'Ambuja Cements Limited',
 'AMD Industries Limited',
 'Ami Organics Limited',
 'Amj Land Holdings Limited',
 'Amrutanjan Health Care Limited',
 'Anand Rathi Wealth Limited',
 'Anant Raj Limited',
 'Andhra Cements Limited',
 'ANDHRA PAPER LIMITED',
 'The Andhra Sugars Limited',
 'Andrew Yule & Company Limited',
 'Angel One Limited',
 'Anik Industries Limited',
 'Ankit Metal & Power Limited',
 'Anmol India Limited',
 'Ansal Properties & Infrastructure Limited',
 'Antarctica Limited',
 'The Anup Engineering Limited',
 'Anupam Rasayan India Limited',
 'Apar Industries Limited',
 'Anjani Portland Cement Limited',
 'Apcotex Industries Limited',
 'Apex Frozen Foods Limited',
 'APL Apollo Tubes Limited',
 'Alembic Pharmaceuticals Limited',
 'Apollo Micro Systems Limited',
 'Apollo Hospitals Enterprise Limited',
 'Apollo Pipes Limited',
 'Apollo Tyres Limited',
 'Apollo Sindoori Hotels Limited',
 'Aptech Limited',
 'Aptus Value Housing Finance India Limited',
 'Archidply Industries Limited',
 'Archies Limited',
 'Rajdarshan Industries Limited',
 'Aries Agro Limited',
 'Arihant Capital Markets Limited',
 'Arihant Superstructures Limited',
 'Arman Financial Services Limited',
 'Aro Granite Industries Limited',
 'Arrow Greentech Limited',
 'Arshiya Limited',
 'ARSS Infrastructure Projects Limited',
 'Artemis Medicare Services Limited',
 'Art Nirman Limited',
 'Arvee Laboratories (India) Limited',
 'Arvind Limited',
 'Arvind Fashions Limited',
 'Arvind SmartSpaces Limited',
 'Asahi India Glass Limited',
 'Asahi Songwon Colors Limited',
 'Automotive Stampings and Assemblies Limited',
 'Associated Alcohols & Breweries Ltd.',
 'Ashapura Minechem Limited',
 'Ashiana Housing Limited',
 'Ashima Limited',
 'Ashoka Buildcon Limited',
 'Ashok Leyland Limited',
 'Asian Energy Services Limited',
 'Asian Hotels (North) Limited',
 'Asian Paints Limited',
 'Asian Granito India Limited',
 'Aspinwall and Company Limited',
 'Astec LifeSciences Limited',
 'Aster DM Healthcare Limited',
 'Astral Limited',
 'Astra Microwave Products Limited',
 'AstraZeneca Pharma India Limited',
 'Astron Paper & Board Mill Limited',
 'Agro Tech Foods Limited',
 'Adani Total Gas Limited',
 'Atlanta  Limited',
 'Atul Limited',
 'Atul Auto Limited',
 'AU Small Finance Bank Limited',
 'Aurionpro Solutions Limited',
 'Aurobindo Pharma Limited',
 'Aurum PropTech Limited',
 'Ausom Enterprise Limited',
 'Automotive Axles Limited',
 'Autoline Industries Limited',
 'Avadh Sugar & Energy Limited',
 'Avanti Feeds Limited',
 'AVRO INDIA LIMITED',
 'AVT Natural Products Limited',
 'Antony Waste Handling Cell Limited',
 'Adani Wilmar Limited',
 'Axis Bank Limited',
 'AXISCADES Technologies Limited',
 'Axita Cotton Limited',
 'AYM Syntex Limited',
 'Bafna Pharmaceuticals Limited',
 'B.A.G Films and Media Limited',
 'Bajaj Auto Limited',
 'Bajaj Consumer Care Limited',
 'Bajaj Electricals Limited',
 'Bajaj Finserv Limited',
 'Bajaj Healthcare Limited',
 'Bajaj Hindusthan Sugar Limited',
 'Bajaj Holdings & Investment Limited',
 'Bajaj Finance Limited',
 'Balaji Telefilms Limited',
 'Balaji Amines Limited',
 'BALAXI PHARMACEUTICALS LIMITED',
 'Balkrishna Paper Mills Limited',
 'Balkrishna Industries Limited',
 'Ballarpur Industries Limited',
 'Balmer Lawrie & Company Limited',
 'Bal Pharma Limited',
 'Balrampur Chini Mills Limited',
 'Banaras Beads Limited',
 'Bannari Amman Sugars Limited',
 'Banco Products (I) Limited',
 'Bandhan Bank Limited',
 'Bang Overseas Limited',
 'Banka BioLoo Limited',
 'Bank of Baroda',
 'Bank of India',
 'Banswara Syntex Limited',
 'Barbeque Nation Hospitality Limited',
 'BASF India Limited',
 'Bannari Amman Spinning Mills Limited',
 'Bata India Limited',
 'Bayer Cropscience Limited',
 'Bharat Bijlee Limited',
 'Black Box Limited',
 'Bombay Burmah Trading Corporation Limited',
 'B&B Triplewall Containers Limited',
 'Brightcom Group Limited',
 'Bcl Industries Limited',
 'Brand Concepts Limited',
 'B.C. Power Controls Ltd',
 'Bharat Dynamics Limited',
 'Beardsell Limited',
 'Mrs. Bectors Food Specialities Limited',
 'Bedmutha Industries Limited',
 'Bharat Electronics Limited',
 'BEML Limited',
 'Bhansali Engineering Polymers Limited',
 'Berger Paints (I) Limited',
 'Best Agrolife Limited',
 'BF Investment Limited',
 'BF Utilities Limited',
 'Bharatiya Global Infomedia Limited',
 'BGR Energy Systems Limited',
 'Bhagiradha Chemicals & Industries Limited',
 'Bhageria Industries Limited',
 'Bhagyanagar India Limited',
 'Bhandari Hosiery Exports Limited',
 'Bharat Forge Limited',
 'Bharat Gears Limited',
 'Bharat Rasayan Limited',
 'Bharat Wire Ropes Limited',
 'Bharti Airtel Limited',
 'Bharat Heavy Electricals Limited',
 'Bigbloc Construction Limited',
 'Bikaji Foods International Limited',
 'Bhartiya International Limited',
 'Oswal Chemicals & Fertilizers Limited',
 'Biocon Limited',
 'Biofil Chemicals & Pharmaceuticals Limited',
 'Birla Cable Limited',
 'Birla Corporation Limited',
 'Aditya Birla Money Limited',
 'Birla Tyres Limited',
 'Bkm Industries Limited',
 'BLB Limited',
 'Bliss GVS Pharma Limited',
 'B. L. Kashyap and Sons Limited',
 'BLS International Services Limited',
 'Blue Chip India Limited',
 'Blue Coast Hotels Limited',
 'Blue Dart Express Limited',
 'Blue Star Limited',
 'Bodal Chemicals Limited',
 'Bohra Industries Limited',
 'Bombay Dyeing & Mfg Company Limited',
 'Borosil Limited',
 'BOROSIL RENEWABLES LIMITED',
 'Bosch Limited',
 'Bharat Petroleum Corporation Limited',
 'BPL Limited',
 'Bombay Rayon Fashions Limited',
 'Brigade Enterprises Limited',
 'Britannia Industries Limited',
 'Bharat Road Network Limited',
 'Brooks Laboratories Limited',
 'BSE Limited',
 'Bombay Super Hybrid Seeds Limited',
 'BSL Limited',
 'BIRLASOFT LIMITED',
 'Burnpur Cement Limited',
 'Butterfly Gandhimathi Appliances Limited',
 'Barak Valley Cements Limited',
 'The Byke Hospitality Ltd',
 'California Software Company Limited',
 'Camlin Fine Sciences Limited',
 'Campus Activewear Limited',
 'Computer Age Management Services Limited',
 'Canara Bank',
 'Can Fin Homes Limited',
 'Cantabil Retail India Limited',
 "Capacit'e Infraprojects Limited",
 'Caplin Point Laboratories Limited',
 'Capital Trust Limited',
 'Carborundum Universal Limited',
 'Career Point Limited',
 'CARE Ratings Limited',
 'Cartrade Tech Limited',
 'CARYSIL LIMITED',
 'Castrol India Limited',
 'Consolidated Construction Consortium Limited',
 'Country Club Hospitality & Holidays Limited',
 'CCL Products (India) Limited',
 'Central Depository Services (India) Limited',
 'CEAT Limited',
 'Celebrity Fashions Limited',
 'Century Enka Limited',
 'Century Extrusions Limited',
 'Central Bank of India',
 'Centrum Capital Limited',
 'Centum Electronics Limited',
 'Century Plyboards (India) Limited',
 'Century Textiles & Industries Limited',
 'Cera Sanitaryware Limited',
 'Cerebra Integrated Technologies Limited',
 'CESC Limited',
 'Capri Global Capital Limited',
 'CG Power and Industrial Solutions Limited',
 'Chalet Hotels Limited',
 'Chambal Fertilizers & Chemicals Limited',
 'Chembond Chemicals Ltd',
 'Chemcon Speciality Chemicals Limited',
 'Chemfab Alkalis Limited',
 'Chemplast Sanmar Limited',
 'Chennai Petroleum Corporation Limited',
 'Cheviot Company Limited',
 'Choice International Limited',
 'Cholamandalam Investment and Finance Company Limited',
 'Cholamandalam Financial Holdings Limited',
 'Cigniti Technologies Limited',
 'Cineline India Limited',
 'Cinevista Limited',
 'Cipla Limited',
 'Clean Science and Technology Limited',
 'CL Educate Limited',
 'Clariant Chemicals (India) Limited',
 'Chaman Lal Setia Exports Limited',
 'CMI Limited',
 'CMS Info Systems Limited',
 'Coal India Limited',
 'Coastal Corporation Limited',
 'Cochin Shipyard Limited',
 'Coffee Day Enterprises Limited',
 'Coforge Limited',
 'Colgate Palmolive (India) Limited',
 'Compuage Infocom Limited',
 'Compucom Software Limited',
 'Container Corporation of India Limited',
 'Confidence Petroleum India Limited',
 'Consolidated Finvest & Holdings Limited',
 'Control Print Limited',
 'Coral India Finance & Housing Limited',
 'Cords Cable Industries Limited',
 'Coromandel International Limited',
 'COSMO FIRST LIMITED',
 "Country Condo's Limited",
 'Craftsman Automation Limited',
 'Creative Newtech Limited',
 'Creative Eye Limited',
 'CREDITACCESS GRAMEEN LIMITED',
 'Crest Ventures Limited',
 'CRISIL Limited',
 'Crompton Greaves Consumer Electricals Limited',
 'Crown Lifters Limited',
 'CSB Bank Limited',
 'CSL Finance Limited',
 'Cambridge Technology Enterprises Limited',
 'City Union Bank Limited',
 'Cubex Tubings Limited',
 'Cummins India Limited',
 'Cupid Limited',
 'Cyber Media (India) Limited',
 'Cybertech Systems And Software Limited',
 'Cyient Limited',
 'LT Foods Limited',
 'Dabur India Limited',
 'Dalmia Bharat Limited',
 'Dalmia Bharat Sugar and Industries Limited',
 'Damodar Industries Limited',
 'Dangee Dums Limited',
 'Datamatics Global Services Limited',
 'Data Patterns (India) Limited',
 'D.B.Corp Limited',
 'Dilip Buildcon Limited',
 'Dhampur Bio Organics Limited',
 'D B Realty Limited',
 'DB (International) Stock Brokers Limited',
 'Dishman Carbogen Amcis Limited',
 'DCB Bank Limited',
 'Dc Infotech And Communication Limited',
 'DCM  Limited',
 'DCM Financial Services Limited',
 'DCM Nouvelle Limited',
 'DCM Shriram Limited',
 'DCM Shriram Industries Limited',
 'DCW Limited',
 'DCX Systems Limited',
 'Deccan Cements Limited',
 'Deepak Fertilizers and Petrochemicals Corporation Limited',
 'Deepak Nitrite Limited',
 'DEEP ENERGY RESOURCES LIMITED',
 'Deep Industries Limited',
 'Delhivery Limited',
 'DELPHI WORLD MONEY LIMITED',
 'Delta Corp Limited',
 'Delta Manufacturing Limited',
 'Den Networks Limited',
 'De Nora India Limited',
 'Dev Information Technology Limited',
 'Devyani International Limited',
 'DFM Foods Limited',
 'Digicontent Limited',
 'Dhampur Sugar Mills Limited',
 'Dhanlaxmi Bank Limited',
 'Dhani Services Limited',
 'Dhanuka Agritech Limited',
 'Dharmaj Crop Guard Limited',
 'Dharani Sugars&Chemicals Limited',
 'Dhruv Consultancy Services Limited',
 'Dhunseri Investments Limited',
 'Prataap Snacks Limited',
 'DIC India Limited',
 'DiGiSPICE Technologies Limited',
 'Digjam Limited',
 'Debock Industries Limited',
 'Dish TV India Limited',
 "Divi's Laboratories Limited",
 'Dixon Technologies (India) Limited',
 'DJ Mediaprint & Logistics Limited',
 'DLF Limited',
 'D-Link (India) Limited',
 'Avenue Supermarts Limited',
 'DMCC SPECIALITY CHEMICALS LIMITED',
 'Diligent Media Corporation Limited',
 'Dodla Dairy Limited',
 'Dolat Algotech Limited',
 'Dollar Industries Limited',
 'Donear Industries Limited',
 'D. P. Abhushan Limited',
 'DPSC Limited',
 'D P Wires Limited',
 'DRC Systems India Limited',
 'Dreamfolks Services Limited',
 'Dredging Corporation of India Limited',
 "Dr. Reddy's Laboratories Limited",
 'Dynacons Systems & Solutions Limited',
 'Dhunseri Tea & Industries Limited',
 'Ducon Infratechnologies Limited',
 'Dhunseri Ventures Limited',
 'Dwarikesh Sugar Industries Limited',
 'Dynamic Cables Limited',
 'Dynamatic Technologies Limited',
 'Dynemic Products Limited',
 'E2E Networks Limited',
 'Easy Trip Planners Limited',
 'Eastern Silk Industries Limited',
 'eClerx Services Limited',
 'Edelweiss Financial Services Limited',
 'Educomp Solutions Limited',
 'Eicher Motors Limited',
 'EID Parry India Limited',
 'Euro India Fresh Foods Limited',
 'EIH Associated Hotels Limited',
 'EIH Limited',
 'Eimco Elecon (India) Limited',
 'Everest Kanto Cylinder Limited',
 'Eldeco Housing And Industries Limited',
 'Elecon Engineering Company Limited',
 'Electrosteel Castings Limited',
 'Electrotherm (India) Limited',
 'Elgi Equipments Limited',
 'Elgi Rubber Company Limited',
 'Emami Limited',
 'Emami Paper Mills Limited',
 'Emami Realty Limited',
 'Electronics Mart India Limited',
 'Emkay Global Financial Services Limited',
 'Emmbi Industries Limited',
 'eMudhra Limited',
 'Endurance Technologies Limited',
 'Energy Development Company Limited',
 'Engineers India Limited',
 'Entertainment Network (India) Limited',
 'EPL Limited',
 'Equippp Social Impact Technologies Limited',
 'Equitas Holdings Limited',
 'Equitas Small Finance Bank Limited',
 'Eris Lifesciences Limited',
 'Eros International Media Limited',
 'Esab India Limited',
 'Escorts Kubota Limited',
 'Essar Shipping Limited',
 'Integra Essentia Limited',
 'Ester Industries Limited',
 'Ethos Limited',
 'Eurotex Industries and Exports Limited',
 'Eveready Industries India Limited',
 'Everest Industries Limited',
 'Excel Realty N Infra Limited',
 'Excel Industries Limited',
 'Exide Industries Limited',
 'Expleo Solutions Limited',
 'Exxaro Tiles Limited',
 'Fertilizers and Chemicals Travancore Limited',
 'Fairchem Organics Limited',
 'Faze Three Limited',
 'Fineotex Chemical Limited',
 'Future Consumer Limited',
 'FCS Software Solutions Limited',
 'FDC Limited',
 'The Federal Bank  Limited',
 'Future Enterprises Limited',
 'Future Enterprises Limited',
 'Fiberweb (India) Limited',
 'Fiem Industries Limited',
 'Filatex India Limited',
 'Finolex Cables Limited',
 'Fine Organic Industries Limited',
 'Fino Payments Bank Limited',
 'Finolex Industries Limited',
 'Five-Star Business Finance Limited',
 'Flexituff Ventures International Limited',
 'Future Lifestyle Fashions Limited',
 'Gujarat Fluorochemicals Limited',
 'Federal-Mogul Goetze (India) Limited.',
 'Future Market Networks Limited',
 'Focus Lighting and Fixtures Limited',
 'Foods & Inns Limited',
 'FORCE MOTORS LTD',
 'Fortis Healthcare Limited',
 'Foseco India Limited',
 'Future Retail Limited',
 'Future Supply Chain Solutions Limited',
 'Firstsource Solutions Limited',
 'Fusion Micro Finance Limited',
 'Gabriel India Limited',
 'Gujarat Ambuja Exports Limited',
 'GAIL (India) Limited',
 'Gyscoal Alloys Limited',
 'Galaxy Surfactants Limited',
 'Gallantt Ispat Limited',
 'Gandhi Special Tubes Limited',
 'Ganesha Ecosphere Limited',
 'Ganesh Benzoplast Limited',
 'Ganesh Housing Corporation Limited',
 'Ganga Forging Limited',
 'Ganges Securities Limited',
 'Gangotri Textiles Limited',
 'Garware Technical Fibres Limited',
 'Gateway Distriparks Limited',
 'GATI Limited',
 'Gayatri Highways Limited',
 'Gayatri Projects Limited',
 'GeeCee Ventures Limited',
 'Geekay Wires Limited',
 'Generic Engineering Construction and Projects Limited',
 'Genesys International Corporation Limited',
 'Genus Paper & Boards Limited',
 'Genus Power Infrastructures Limited',
 'Geojit Financial Services Limited',
 'GE Power India Limited',
 'The Great Eastern Shipping Company Limited',
 'GE T&D India Limited',
 'GFL Limited',
 'Grand Foundry Limited',
 'GHCL Limited',
 'GIC Housing Finance Limited',
 'General Insurance Corporation of India',
 'Gillanders Arbuthnot & Company Limited',
 'Gillette India Limited',
 'Ginni Filaments Limited',
 'Gujarat Industries Power Company Limited',
 'GI Engineering Solutions Limited',
 'GKW Limited',
 'Gland Pharma Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Glenmark Pharmaceuticals Limited',
 'Gujarat Lease Financing Limited',
 'Global Education Limited',
 'Global Vectra Helicorp Limited',
 'Globe Textiles (India) Limited',
 'Globus Spirits Limited',
 'Glenmark Life Sciences Limited',
 'GM Breweries Limited',
 'Gujarat Mineral Development Corporation Limited',
 'GMM Pfaudler Limited',
 'GMR Airports Infrastructure Limited',
 'GMR Power and Urban Infra Limited',
 'GNA Axles Limited',
 'Gujarat Narmada Valley Fertilizers and Chemicals Limited',
 'Goa Carbon Limited',
 'GOCL Corporation Limited',
 'Go Fashion (India) Limited',
 'Godfrey Phillips India Limited',
 'Godha Cabcon & Insulation Limited',
 'Godrej Agrovet Limited',
 'Godrej Consumer Products Limited',
 'Godrej Industries Limited',
 'Godrej Properties Limited',
 'Goenka Diamond and Jewels Limited',
 'Gokaldas Exports Limited',
 'Gokul Refoils and Solvent Limited',
 'Gokul Agro Resources Limited',
 'Golden Tobacco Limited',
 'Goldiam International Limited',
 'Goldstone Technologies Limited',
 'Goodluck India Limited',
 'Goodyear India Limited',
 'Goyal Aluminiums Limited',
 'Godawari Power And Ispat limited',
 'Gujarat Pipavav Port Limited',
 'GPT Infraprojects Limited',
 'Granules India Limited',
 'Graphite India Limited',
 'Grasim Industries Limited',
 'Grauer & Weil (India) Limited',
 'Gravita India Limited',
 'Greaves Cotton Limited',
 'Greenlam Industries Limited',
 'Greenpanel Industries Limited',
 'Greenply Industries Limited',
 'Orient Green Power Company Limited',
 'Grindwell Norton Limited',
 'G R Infraprojects Limited',
 'GRM Overseas Limited',
 'The Grob Tea Company Limited',
 'GRP Limited',
 'Garden Reach Shipbuilders & Engineers Limited',
 'Garware Hi-Tech Films Limited',
 'Gujarat Sidhee Cement Limited',
 'Gujarat State Fertilizers & Chemicals Limited',
 'Gujarat State Petronet Limited',
 'GSS Infotech Limited',
 'GTL Limited',
 'GTL Infrastructure Limited',
 'GTPL Hathway Limited',
 'Gufic Biosciences Limited',
 'Gujarat Alkalies and Chemicals Limited',
 'Gujarat Apollo Industries Limited',
 'Gujarat Gas Limited',
 'Gujarat Raffia Industries Limited',
 'Gulf Oil Lubricants India Limited',
 'GP Petroleums Limited',
 'Gulshan Polyols Limited',
 'GVK Power & Infrastructure Limited',
 'Hindustan Aeronautics Limited',
 'Happiest Minds Technologies Limited',
 'Hardwyn India Limited',

# NOW CHECKING

In [11]:
#list of brand names
manufacturer_names = NSE_unique_List

# Create a set from the list to remove duplicates
unique_manufacturer_names = set(manufacturer_names)

# Convert the set back to a list if you need to
unique_manufacturer_names_list = list(unique_manufacturer_names)

print(unique_manufacturer_names_list)  # Output: ['Brand A', 'Brand B', 'Brand C']

['Medicamen Biotech Limited', 'Rane Holdings Limited', 'Renaissance Global Limited', 'Poonawalla Fincorp Limited', 'HBL Power Systems Limited', 'Mangalam Drugs And Organics Limited', 'Prudent Corporate Advisory Services Limited', 'MIC Electronics Limited', 'Coastal Corporation Limited', 'Dhani Services Limited', 'Indus Towers Limited', 'AYM Syntex Limited', 'Bajaj Finserv Limited', 'GMM Pfaudler Limited', 'V-Guard Industries Limited', 'IDFC Limited', 'Coromandel International Limited', 'Jash Engineering Limited', 'TGB Banquets And Hotels Limited', 'Axita Cotton Limited', 'Godha Cabcon & Insulation Limited', 'MODISON LIMITED', 'Steel Authority of India Limited', 'Parag Milk Foods Limited', 'Alicon Castalloy Limited', 'Refex Industries Limited', 'Jayant Agro Organics Limited', 'Rallis India Limited', 'Bharat Rasayan Limited', 'Gyscoal Alloys Limited', 'Aurum PropTech Limited', 'HFCL Limited', 'Satin Creditcare Network Limited', 'AGS Transact Technologies Limited', 'Alkyl Amines Chemicals Limited', 'Affle (India) Limited', 'Piramal Enterprises Limited', 'Redington Limited', 'Cochin Shipyard Limited', 'RKEC Projects Limited', 'KBC Global Limited', 'Ritco Logistics Limited', 'DJ Mediaprint & Logistics Limited', 'Paisalo Digital Limited', 'Cybertech Systems And Software Limited', 'HT Media Limited', 'Mahindra Logistics Limited', 'Prime Securities Limited', 'Dilip Buildcon Limited', 'Mahindra EPC Irrigation Limited', 'Ace Integrated Solutions Limited', 'Hitachi Energy India Limited', 'Blue Dart Express Limited', 'Hindware Home Innovation Limited', 'Wonder Fibromats Limited', 'Barbeque Nation Hospitality Limited', 'Setco Automotive Limited', 'GP Petroleums Limited', 'Mazagon Dock Shipbuilders Limited', 'Superhouse Limited', 'Cholamandalam Investment and Finance Company Limited', 'Future Retail Limited', 'Five-Star Business Finance Limited', 'Mahamaya Steel Industries Limited', 'State Bank of India', 'Balkrishna Industries Limited', 'The Orissa Minerals Development Company Limited', 'Godfrey Phillips India Limited', 'Visa Steel Limited', 'Ajooni Biotech Limited', 'PTC India Financial Services Limited', 'Swan Energy Limited', 'Kabra Extrusion Technik Limited', 'IVP Limited', 'Harrisons  Malayalam Limited', 'Eros International Media Limited', 'Debock Industries Limited', 'Gillette India Limited', 'Akzo Nobel India Limited', 'Happiest Minds Technologies Limited', 'Bodal Chemicals Limited', 'Agarwal Industrial Corporation Limited', 'VA Tech Wabag Limited', 'Mukta Arts Limited', 'Orient Abrasives Limited', 'Choice International Limited', 'Healthcare Global Enterprises Limited', 'Mangalam Cement Limited', 'Dhampur Sugar Mills Limited', 'Tantia Constructions Limited', 'Matrimony.Com Limited', 'KPI Green Energy Limited', 'Accuracy Shipping Limited', 'Tourism Finance Corporation of India Limited', 'Reliance Industrial Infrastructure Limited', 'Sanco Industries Limited', 'Aditya Birla Fashion and Retail Limited', 'Jullundur Motor Agency (Delhi) Limited', 'KCP Limited', 'NAVA LIMITED', 'Shiva Texyarn Limited', 'Crompton Greaves Consumer Electricals Limited', 'Jamna Auto Industries Limited', 'DB (International) Stock Brokers Limited', 'Prime Focus Limited', 'MRO-TEK Realty Limited', 'Lagnam Spintex Limited', 'Artemis Medicare Services Limited', 'Prataap Snacks Limited', 'Star Cement Limited', 'Stove Kraft Limited', 'Engineers India Limited', 'UTI Asset Management Company Limited', 'Dynacons Systems & Solutions Limited', 'Piramal Pharma Limited', 'Sobha Limited', 'Power Finance Corporation Limited', 'Ausom Enterprise Limited', 'AIA Engineering Limited', 'SIL Investments Limited', 'Tata Steel Long Products Limited', 'Bliss GVS Pharma Limited', 'CL Educate Limited', 'Creative Newtech Limited', 'ICRA Limited', 'Hindustan Composites Limited', 'Hercules Hoists Limited', 'Banco Products (I) Limited', 'Suryalakshmi Cotton Mills Limited', 'Omkar Speciality Chemicals Limited', 'Marathon Nextgen Realty Limited', 'Raj Rayon Industries Limited', 'Eicher Motors Limited', 'Hindustan Unilever Limited', 'ZF Commercial Vehicle Control Systems India Limited', 'Orissa Bengal Carrier Limited', 'Par Drugs And Chemicals Limited', 'Khaitan (India) Limited', 'Control Print Limited', '63 moons technologies limited', 'Steel Strips Wheels Limited', 'Agro Phos India Limited', 'Sansera Engineering Limited', 'Steelcast Limited', 'Automotive Stampings and Assemblies Limited', 'Silly Monks Entertainment Limited', 'AksharChem India Limited', 'Dollar Industries Limited', 'RITES Limited', 'Hikal Limited', 'The Peria Karamalai Tea & Produce Company Limited', 'Naga Dhunseri Group Limited', 'Krishana Phoschem Limited', 'Power Mech Projects Limited', 'Sadbhav Engineering Limited', 'Dredging Corporation of India Limited', 'Parenteral Drugs (India) Limited', 'Sharda Motor Industries Limited', 'Lakshmi Machine Works Limited', 'IL&FS Transportation Networks Limited', 'E2E Networks Limited', 'Next Mediaworks Limited', 'Pritish Nandy Communications Limited', 'Gayatri Highways Limited', 'Kilitch Drugs (India) Limited', 'Mohota Industries Limited', 'Nureca Limited', 'Castrol India Limited', 'T T Limited', 'Capri Global Capital Limited', 'Dalmia Bharat Sugar and Industries Limited', 'FDC Limited', 'Gujarat Alkalies and Chemicals Limited', 'Tamilnadu Telecommunication Limited', 'Kriti Industries (India) Limited', 'NBCC (India) Limited', 'Star Health and Allied Insurance Company Limited', 'VIP Industries Limited', 'Filatex India Limited', 'Sat Industries Limited', 'Sri Adhikari Brothers Television Network Limited', 'SecUR Credentials Limited', 'IndoStar Capital Finance Limited', 'Metro Brands Limited', 'Sangam (India) Limited', 'Ksb Limited', 'Pennar Industries Limited', 'Madhav Copper Limited', 'Quintegra Solutions Limited', 'Uniinfo Telecom Services Limited', 'LT Foods Limited', 'Nesco Limited', 'Rossell India Limited', 'Dynemic Products Limited', 'Jindal Saw Limited', 'KEC International Limited', 'Dwarikesh Sugar Industries Limited', 'Marksans Pharma Limited', 'Lotus Eye Hospital and Institute Limited', 'National Fertilizers Limited', 'Genesys International Corporation Limited', 'Coral India Finance & Housing Limited', 'Dabur India Limited', 'Bhartiya International Limited', 'Faze Three Limited', 'Garden Reach Shipbuilders & Engineers Limited', 'Hindustan Construction Company Limited', 'Archidply Decor Limited', 'Balkrishna Paper Mills Limited', 'Tirupati Forge Limited', 'Symphony Limited', 'Vakrangee Limited', 'Chalet Hotels Limited', 'Rain Industries Limited', 'Sreeleathers Limited', 'Supreme Industries Limited', 'Modi Rubber Limited', 'Hindustan Aeronautics Limited', 'Manaksia Coated Metals & Industries Limited', 'Fusion Micro Finance Limited', 'Viji Finance Limited', 'Max Financial Services Limited', 'Neuland Laboratories Limited', 'Central Bank of India', 'R.P.P. Infra Projects Limited', 'Alps Industries Limited', 'GE T&D India Limited', 'Simplex Infrastructures Limited', 'Gujarat Mineral Development Corporation Limited', 'Ramco Industries Limited', 'CCL Products (India) Limited', 'Goldiam International Limited', 'GAIL (India) Limited', 'Sharda Cropchem Limited', 'Angel One Limited', 'Bharat Dynamics Limited', 'Kavveri Telecom Products Limited', 'Astral Limited', 'Gujarat Fluorochemicals Limited', 'Mangalore Refinery and Petrochemicals Limited', 'Somi Conveyor Beltings Limited', 'Britannia Industries Limited', 'Kanoria Chemicals & Industries Limited', 'HLV LIMITED', 'Shreyans Industries Limited', 'Crest Ventures Limited', 'Ashiana Housing Limited', 'Clean Science and Technology Limited', 'JK Paper Limited', 'Shiva Mills Limited', 'Cerebra Integrated Technologies Limited', 'Indo-National Limited', 'Esab India Limited', 'Equitas Small Finance Bank Limited', 'Kamdhenu Limited', 'Hathway Cable & Datacom Limited', 'MEP Infrastructure Developers Limited', 'Sambhaav Media Limited', 'Viceroy Hotels Limited', 'Electrosteel Castings Limited', 'Donear Industries Limited', 'Just Dial Limited', 'Pilani Investment and Industries Corporation Limited', 'DEEP ENERGY RESOURCES LIMITED', 'Gandhi Special Tubes Limited', 'SBI Cards and Payment Services Limited', 'Allied Digital Services Limited', 'Transwarranty Finance Limited', 'Keerti Knowledge and Skills Limited', 'Bohra Industries Limited', 'Nahar Spinning Mills Limited', 'Rane Engine Valve Limited', 'Satia Industries Limited', 'Sirca Paints India Limited', 'Thomas Cook  (India)  Limited', 'Geojit Financial Services Limited', 'S&S Power Switchgears Limited', 'CARE Ratings Limited', 'Blue Star Limited', 'Premier Limited', 'Ethos Limited', 'Archies Limited', 'Sintex Industries Limited', 'UltraTech Cement Limited', 'Xpro India Limited', 'Apollo Tyres Limited', 'Niraj Ispat Industries Limited', 'Art Nirman Limited', 'Poddar Housing and Development Limited', 'Bannari Amman Sugars Limited', 'The Byke Hospitality Ltd', 'Insecticides (India) Limited', 'SPL Industries Limited', 'Shree Ram Proteins Limited', 'Goyal Aluminiums Limited', 'Larsen & Toubro Limited', 'GeeCee Ventures Limited', 'Indowind Energy Limited', 'Smartlink Holdings Limited', 'Vishal Fabrics Limited', 'Archidply Industries Limited', 'Mahanagar Gas Limited', 'TREJHARA SOLUTIONS LIMITED', 'Cipla Limited', 'Energy Development Company Limited', 'GHCL Limited', 'Aro Granite Industries Limited', 'Mittal Life Style Limited', 'Goodluck India Limited', 'JK Lakshmi Cement Limited', 'Aban Offshore Limited', 'Gulshan Polyols Limited', 'Orient Bell Limited', 'Shree Digvijay Cement Co.Ltd', 'Shivam Autotech Limited', 'Niraj Cement Structurals Limited', 'Poddar Pigments Limited', 'Bedmutha Industries Limited', 'Andhra Cements Limited', 'Rana Sugars Limited', 'Ortel Communications Limited', 'Techindia Nirman Limited', 'The Investment Trust Of India Limited', 'Ambica Agarbathies & Aroma industries Limited', 'BALAXI PHARMACEUTICALS LIMITED', 'BF Utilities Limited', 'Mazda Limited', 'Triveni Turbine Limited', 'Kalyan Jewellers India Limited', 'Schaeffler India Limited', 'Tips Films Limited', 'Jubilant Industries Limited', 'Golden Tobacco Limited', 'Centrum Capital Limited', 'Kanani Industries Limited', 'Prism Johnson Limited', 'Ajmera Realty & Infra India Limited', 'Garware Hi-Tech Films Limited', 'Shipping Corporation Of India Limited', 'Mahanagar Telephone Nigam Limited', 'Nakoda Group of Industries Limited', 'Deccan Cements Limited', 'Arvee Laboratories (India) Limited', 'Kopran Limited', 'Quess Corp Limited', 'Shree Renuka Sugars Limited', 'Hardwyn India Limited', 'B.A.G Films and Media Limited', 'S Chand And Company Limited', 'Religare Enterprises Limited', 'Vipul Limited', 'PDS Limited', 'Mask Investments Limited', 'BEML Limited', 'Aptech Limited', 'Maral Overseas Limited', 'Arihant Superstructures Limited', 'MBL Infrastructure Limited', 'Synergy Green Industries Limited', 'Bata India Limited', 'Latent View Analytics Limited', 'Century Extrusions Limited', 'Sagar Cements Limited', 'AXISCADES Technologies Limited', 'KIOCL Limited', 'United Polyfab Gujarat Limited', 'TIL Limited', 'Honda India Power Products Limited', 'NTPC Limited', 'Usha Martin Education & Solutions Limited', 'Technocraft Industries (India) Limited', 'Chembond Chemicals Ltd', 'IMP Powers Limited', 'South West Pinnacle Exploration Limited', 'The New India Assurance Company Limited', 'Inventure Growth & Securities Limited', 'Sona BLW Precision Forgings Limited', 'Graphite India Limited', 'Sumit Woods Limited', 'Rail Vikas Nigam Limited', 'TV Vision Limited', 'Kellton Tech Solutions Limited', 'The Federal Bank  Limited', 'IZMO Limited', 'WE WIN LIMITED', 'The Grob Tea Company Limited', 'Anand Rathi Wealth Limited', 'Vodafone Idea Limited', 'FSN E-Commerce Ventures Limited', 'Chennai Petroleum Corporation Limited', 'Tatva Chintan Pharma Chem Limited', 'Nila Spaces Limited', 'Indian Terrain Fashions Limited', 'Ashapura Minechem Limited', 'Menon Bearings Limited', 'Hubtown Limited', 'DIC India Limited', 'Surana Telecom and Power Limited', 'Century Enka Limited', 'Panache Digilife Limited', 'Onward Technologies Limited', 'BIRLASOFT LIMITED', 'Shanthi Gears Limited', 'Sikko Industries Limited', 'Colgate Palmolive (India) Limited', 'Astra Microwave Products Limited', 'Gujarat State Petronet Limited', 'Unichem Laboratories Limited', 'Grasim Industries Limited', 'Vinati Organics Limited', 'BF Investment Limited', 'Chemfab Alkalis Limited', 'Compucom Software Limited', 'Ambika Cotton Mills Limited', 'Jindal Poly Investment and Finance Company Limited', 'Rajvir Industries Limited', 'Ashima Limited', 'The Ugar Sugar Works Limited', 'Dynamatic Technologies Limited', 'Tamilnad Mercantile Bank Limited', 'Burnpur Cement Limited', 'Firstsource Solutions Limited', 'NCL Industries Limited', 'Infomedia Press Limited', '3i Infotech Limited', 'Arihant Capital Markets Limited', 'Asian Energy Services Limited', 'Kothari Sugars And Chemicals Limited', 'DPSC Limited', 'Iris Clothings Limited', 'PG Electroplast Limited', 'Vertoz Advertising Limited', 'STEEL EXCHANGE INDIA LIMITED', 'RPG Life Sciences Limited', 'Aaron Industries Limited', 'Quick Heal Technologies Limited', 'SML Isuzu Limited', 'Manappuram Finance Limited', 'Grindwell Norton Limited', 'Thangamayil Jewellery Limited', 'Capital Trust Limited', 'Network18 Media & Investments Limited', 'AMD Industries Limited', 'IPCA Laboratories Limited', 'Sical Logistics Limited', 'Ratnamani Metals & Tubes Limited', 'Jindal Stainless Limited', 'Apcotex Industries Limited', 'Ram Ratna Wires Limited', 'Man Industries (India) Limited', 'Kothari Petrochemicals Limited', 'NLC India Limited', 'Reliance Industries Limited', 'GE Power India Limited', 'JSW Energy Limited', 'Relaxo Footwears Limited', 'NCC Limited', 'Anik Industries Limited', 'Aster DM Healthcare Limited', 'Touchwood Entertainment Limited', 'Ashok Leyland Limited', 'Websol Energy System Limited', 'Wonderla Holidays Limited', 'Madhav Marbles and Granites Limited', 'Sintex Plastics Technology Limited', 'Radaan Mediaworks India Limited', 'Madhucon Projects Limited', 'One Point One Solutions Limited', 'Aether Industries Limited', 'Titan Company Limited', 'Jagran Prakashan Limited', 'Future Market Networks Limited', 'Paradeep Phosphates Limited', 'Finolex Industries Limited', 'Likhitha Infrastructure Limited', 'Infosys Limited', 'ISMT Limited', 'Venus Pipes & Tubes Limited', 'Century Plyboards (India) Limited', 'Hybrid Financial Services Limited', 'GATI Limited', 'Ramky Infrastructure Limited', 'Zee Learn Limited', 'Siti Networks Limited', 'Rushil Decor Limited', 'Megasoft Limited', 'Jai Balaji Industries Limited', 'India Motor Parts and Accessories Limited', 'HOV Services Limited', 'Indian Overseas Bank', 'Munjal Showa Limited', 'Motherson Sumi Wiring India Limited', 'Carborundum Universal Limited', 'CSB Bank Limited', 'Laxmi Cotspin Limited', 'Share India Securities Limited', 'C.E. Info Systems Limited', 'Tide Water Oil Company (India) Limited', 'Birla Corporation Limited', 'Goodyear India Limited', 'BASF India Limited', 'Coal India Limited', 'Punjab & Sind Bank', 'Devyani International Limited', 'Arvind SmartSpaces Limited', 'Greenlam Industries Limited', 'DFM Foods Limited', 'Kaushalya Infrastructure Development Corporation Limited', 'Shyam Telecom Limited', 'Amber Enterprises India Limited', 'Lumax Industries Limited', 'Cubex Tubings Limited', 'The Andhra Sugars Limited', 'MITCON Consultancy & Engineering Services Limited', 'Oriental Aromatics Limited', 'HB Stockholdings Limited', 'Adani Power Limited', 'Iifl Wealth Management Limited', 'Vivimed Labs Limited', 'Aries Agro Limited', 'KNR Constructions Limited', 'Jyoti Structures Limited', 'Gujarat Industries Power Company Limited', 'Welspun Investments and Commercials Limited', 'Central Depository Services (India) Limited', 'Bharat Bijlee Limited', 'SKIL Infrastructure Limited', 'Uttam Sugar Mills Limited', 'Dharmaj Crop Guard Limited', 'Pudumjee Paper Products Limited', 'Mirza International Limited', 'Sundaram Finance Limited', 'Reliance Capital Limited', 'Gillanders Arbuthnot & Company Limited', 'JSW Ispat Special Products Limited', 'Nilkamal Limited', 'PI Industries Limited', 'NXTDIGITAL LIMITED', 'Metropolis Healthcare Limited', 'Sundaram Multi Pap Limited', 'Arvind Limited', 'Waterbase Limited', 'The South Indian Bank Limited', 'Onelife Capital Advisors Limited', 'Intrasoft Technologies Limited', 'TruCap Finance Limited', 'Bank of Baroda', 'Ice Make Refrigeration Limited', 'TTK Healthcare Limited', 'Godrej Properties Limited', 'Cheviot Company Limited', 'PB Fintech Limited', 'BPL Limited', 'Educomp Solutions Limited', 'Univa Foods Limited', 'Dhunseri Tea & Industries Limited', 'Shivalik Rasayan Limited', 'Prince Pipes And Fittings Limited', 'AVT Natural Products Limited', 'Lloyds Steels Industries Limited', 'Page Industries Limited', 'Balrampur Chini Mills Limited', 'Gujarat Sidhee Cement Limited', 'Starteck Finance Limited', 'Kansai Nerolac Paints Limited', 'Subex Limited', 'Datamatics Global Services Limited', 'Equitas Holdings Limited', 'Berger Paints (I) Limited', 'Nestle India Limited', 'Kernex Microsystems (India) Limited', 'Precision Camshafts Limited', 'Albert David Limited', 'Seamec Limited', 'KDDL Limited', 'Mahindra Holidays & Resorts India Limited', 'Yaari Digital Integrated Services Limited', 'Autoline Industries Limited', 'Dhanuka Agritech Limited', 'Jubilant Ingrevia Limited', 'Hi-Tech Pipes Limited', 'Pitti Engineering Limited', 'Subros Limited', 'Patel Engineering Limited', 'Amj Land Holdings Limited', 'Suzlon Energy Limited', 'Bang Overseas Limited', 'IDFC First Bank Limited', 'V2 Retail Limited', 'Sintercom India Limited', 'Axis Bank Limited', 'Igarashi Motors India Limited', 'Gujarat Gas Limited', 'Gallantt Ispat Limited', 'Nath Bio-Genes (India) Limited', 'Bosch Limited', 'Oswal Agro Mills Limited', 'Vedanta Limited', 'Prakash Industries Limited', 'Agro Tech Foods Limited', 'Ajanta Pharma Limited', 'Shalby Limited', 'Vikas Proppant & Granite Limited', 'Asian Hotels (East) Limited', 'Star Paper Mills Limited', 'DCW Limited', 'JHS Svendgaard Laboratories Limited', 'Torrent Power Limited', 'Bajaj Electricals Limited', 'TTK Prestige Limited', 'Trent Limited', 'Shankara Building Products Limited', 'Amara Raja Batteries Limited', 'HPL Electric & Power Limited', 'The United Nilgiri Tea Estates Company Limited', 'Windsor Machines Limited', 'SPICEJET LTD', 'Hindustan Foods Limited', 'Kuantum Papers Limited', 'Lokesh Machines Limited', 'GI Engineering Solutions Limited', 'Deepak Fertilizers and Petrochemicals Corporation Limited', 'Centum Electronics Limited', 'Talbros Automotive Components Limited', 'Indigo Paints Limited', 'Trigyn Technologies Limited', 'Apollo Pipes Limited', 'ITC Limited', 'RBL Bank Limited', 'Ankit Metal & Power Limited', 'Siyaram Silk Mills Limited', 'NHPC Limited', 'MM Forgings Limited', 'Aditya Birla Sun Life AMC Limited', 'Gateway Distriparks Limited', 'Osia Hyper Retail Limited', 'Kapston Services Limited', 'Williamson Magor & Company Limited', 'Ambuja Cements Limited', 'Sunteck Realty Limited', 'Spacenet Enterprises India Limited', 'Edelweiss Financial Services Limited', 'Kalpataru Power Transmission Limited', 'Rane Brake Lining Limited', 'Aarvi Encon Limited', 'GM Breweries Limited', 'Motilal Oswal Financial Services Limited', 'Sumitomo Chemical India Limited', '21st Century Management Services Limited', 'Hindprakash Industries Limited', 'Mcleod Russel India Limited', 'GRP Limited', 'MAS Financial Services Limited', 'DCM Shriram Industries Limited', 'Sasken Technologies Limited', 'International Constructions Limited', 'Syncom Formulations (India) Limited', 'Coffee Day Enterprises Limited', 'Anant Raj Limited', 'AVRO INDIA LIMITED', 'WESTLIFE FOODWORLD LIMITED', 'MphasiS Limited', 'Thomas Scott (India) Limited', 'Bigbloc Construction Limited', 'Damodar Industries Limited', 'Asahi India Glass Limited', 'Neogen Chemicals Limited', 'Bharatiya Global Infomedia Limited', 'Summit Securities Limited', 'Kohinoor Foods Limited', 'Magadh Sugar & Energy Limited', 'Bajaj Con

In [12]:
NSE_unique_df=pd.DataFrame(unique_manufacturer_names_list)

In [13]:
NSE_unique_df

                                       0
0              Medicamen Biotech Limited
1                  Rane Holdings Limited
2             Renaissance Global Limited
3             Poonawalla Fincorp Limited
4              HBL Power Systems Limited
...                                  ...
1875  Dhruv Consultancy Services Limited
1876      R. S. Software (India) Limited
1877     Servotech Power Systems Limited
1878         Welspun Enterprises Limited
1879               Liberty Shoes Limited

[1880 rows x 1 columns]

In [14]:
NSE_unique_df = NSE_unique_df.rename(columns={0:'NAME OF COMPANY'})

In [15]:
NSE_unique_df

                         NAME OF COMPANY
0              Medicamen Biotech Limited
1                  Rane Holdings Limited
2             Renaissance Global Limited
3             Poonawalla Fincorp Limited
4              HBL Power Systems Limited
...                                  ...
1875  Dhruv Consultancy Services Limited
1876      R. S. Software (India) Limited
1877     Servotech Power Systems Limited
1878         Welspun Enterprises Limited
1879               Liberty Shoes Limited

[1880 rows x 1 columns]

In [16]:
def highlight_cells(val):
    color = 'yellow' if  val=='20 Microns Limited' else ''
    return 'background-color: {}'.format(color)

NSE_unique_df.style.applymap(highlight_cells)

In [17]:
df_brand_names=df['brand_name']

In [18]:
Brand_names_list=df_brand_names.to_list()

In [19]:
Brand_names_list

['110%',
 '110%',
 '110%',
 '110%',
 '110%',
 '110%',
 '555',
 'Parle 20-20',
 'Parle 20-20',
 '5 Star',
 '5 Star',
 'Britannia 50-50',
 '7 Up',
 '7 Up',
 '7 Up',
 'Aashirvaad',
 'Aashirvaad',
 'Act II',
 'Act II',
 'Act II',
 'Adidas',
 'Adidas',
 'Adidas',
 'Adidas',
 'Adidas',
 'Adidas',
 'Airwick',
 'Airwick',
 'Ala',
 'Ala',
 'Al-Kabeer',
 'Al-Kabeer',
 'Alpenliebe',
 'Alpenliebe',
 'Amber',
 'Amber',
 'Amber',
 'Ambipur',
 'American Garden',
 'American Garden',
 'Amrit',
 'Amul',
 'Amul',
 'Amul',
 'Amul',
 'Amul',
 'Amul',
 'Anik',
 'Anmol',
 'Anmol',
 'Anmol',
 'Anmol',
 'Anmol',
 'Anmol',
 'Anne french',
 'Appleware',
 'Appy Fizz',
 'Aquafina',
 'Ariel',
 'Ariel',
 'Arnotts',
 'Asian',
 'Asian',
 'Axe',
 'Axe',
 'Axion',
 'Ayur',
 'Ayur',
 'Babool',
 'Badshah',
 'Bagrrys',
 'Bailley',
 'Bailley',
 'Bajaj',
 'Bajaj',
 'Bajaj',
 'Bajaj',
 'Bajaj',
 'Bajaj Ecolux',
 'Baker Street',
 'Bambino',
 'Band Aid',
 'Bang',
 'Bar One',
 'Baretto',
 'Baygon',
 'Beeta',
 'Best Of India',
 'Best Of India',
 'Best Of India',
 'Best Of India',
 'Best Of India',
 'Best Of India',
 'Betty Crocker',
 'Betty Crocker',
 'Betty Crocker',
 'Bhape',
 'Bhikharam Chandmal',
 'Big Babol',
 'Big Chef',
 'Big Chef',
 'Bikaji',
 'Bikaji',
 'Bikano',
 'Bikano',
 'Bikano',
 'Bingo',
 'Bingo',
 'Bisleri',
 'Bisleri',
 'Black Panther',
 'Black Panther',
 'Black Panther',
 'Blue Bird',
 'Blue Bird',
 'Boomer',
 'Boost',
 'Boroplus',
 'Boroplus',
 'Boroplus',
 'Bounty',
 'Bournvita',
 'BPI',
 'BPI',
 'BPI',
 'BPI',
 'Brasso',
 'Breeze',
 'Bref',
 'Bref',
 'Britannia',
 'Britannia',
 'Britannia',
 'Britannia',
 'Britannia',
 'Britannia Milkman',
 'Brown & Polson',
 'Brut',
 'Brut',
 'Brylcreem',
 'Brylcreem',
 'Bytes',
 'Cadburys',
 'Calcium SANDOZ',
 'Camay',
 'Camay',
 'Camay',
 'Camlin',
 'Camlin',
 'Camlin',
 'Camlin',
 'Candico',
 'Candyman',
 "Captain Kuk's",
 "Captain Kuk's",
 'Carefree',
 'Cartini',
 'Cartini',
 'Cartini',
 'Cartini',
 'Catch',
 'Catch',
 'Catch',
 'Cello',
 'Cello',
 'Cello',
 'Cello',
 'Cello',
 'Cello',
 'Cello',
 'Cerelac',
 'Champion',
 'Champion',
 'Chamria',
 'Chamria',
 'Chandrika',
 'Charlie',
 'Charlie',
 'Charminar',
 'Cheetos',
 'Cherry Blossom',
 'Chik',
 'Chikkers',
 'Chikkers',
 'Chintamanis',
 'Cibaca',
 'Cigar',
 'Cinthol',
 'Cinthol',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classic',
 'Classmate',
 'Classmate',
 'Classmate',
 'Classmate',
 'Classmate',
 'Classmate',
 'Clean & Clear',
 'Clean Wrap',
 'Clearasil',
 'Clinic All Clear',
 'Clinic Plus',
 'Clinic Plus',
 'Close Up',
 'Cofitos',
 'Coke',
 'Colavita',
 'Colgate',
 'Colgate Max Fresh',
 'Colin',
 'Colin',
 'Color Naturals',
 'Coloursoft',
 'Comfort',
 'Comfort',
 'Complan',
 'Cream Bell',
 'Cream Bell',
 'Creation Lamis',
 'Cremica',
 'Crown',
 'Crown',
 'Crown',
 'Crown',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Crystal',
 'Cycle',
 'Cycle',
 'Dabur',
 'Dabur',
 'Dabur Activ',
 'Dabur Coolers',
 'Dalda',
 'Dana',
 'Dana',
 'Dana',
 'Dana',
 'Dawat Devaaya',
 'Dazzl',
 'Desire',
 'Desire',
 'Dettol',
 'Dettol',
 'Dettol',
 'Dhara',
 'Diet Pepsi',
 'Dip Trix',
 'Dip Trix',
 'Domex',
 'Domex',
 'Doon',
 'Dove',
 'Dove',
 'Dove',
 'Doy',
 'Dreamland',
 'Dukes',
 'Dukes',
 'Duncans',
 'Duracell',
 'Duracell',
 'Duracell',
 'Durex',
 'Durex',
 'Durex',
 'Easy Life',
 'Easy Life',
 'Eco Glo',
 'Edge',
 'Elephant',
 'Elephant',
 'Elephant',
 'Elephant',
 'Elvive',
 'Emami',
 'Emami',
 'Emami',
 'Engine',
 'Engine',
 'Eno',
 'Enriche',
 'Enriche',
 'Enriche',
 'Equal',
 'Equal',
 'Equal',
 'Equity',
 'Equity',
 'Erasmic',
 'Eros',
 'Essential',
 'Essential',
 'Essential',
 'Eveready',
 'Eveready',
 'Eveready',
 'Eveready',
 'Everest',
 'Everest',
 'Everest',
 'Evervess',
 'Every Day',
 'Every Day',
 'Everyuth',
 'Everyuth',
 'Evita',
 'Excel',
 'Excel',
 'Ezee',
 'Ezee',
 'Ezee',
 'F & N',
 'F & N',
 'F & S',
 'F & S',
 'Fa',
 'Fa',
 'Fair & Handsome',
 'Fair & Lovely',
 'Fair & Lovely',
 'Fair & Lovely',
 'Fair One',
 'Fairever',
 'Fairglow',
 'Fanta',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Feasters',
 'Fem',
 'Fena',
 'Fena',
 'Ferrero',
 'Ferrero',
 'Fevicol',
 'Fevigum',
 'Fiama',
 'Fiama',
 'Fiama',
 'Figaro',
 'Figaro',
 'Figaro',
 'Figaro',
 'Flying Bird',
 'Footguard',
 'Footguard',
 'Footguard',
 'Fortune',
 'Fortune',
 'Fortune',
 'Fortune',
 'Fragata',
 'Fragata',
 'Freshgold',
 'Fresh-o-Dent',
 'Fresh-o-Dent',
 'Freshones',
 'Freshwrapp',
 'Frooti',
 'Fructis',
 'Fruitfil',
 'Fun',
 'Fun Foods',
 'Fun Foods',
 'Fun Foods',
 'Gagan',
 'Gagan',
 'Gagan',
 'Gagan',
 'Gala',
 'Gala',
 'Gala',
 'Gala',
 'Gala',
 'Gala',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Garnier',
 'Garnier',
 'Gatorade',
 'GEBI',
 'GEBI',
 'GEBI',
 'Gems',
 'Genteel',
 'Genteel',
 'Germex',
 'Gillette',
 'Gillette',
 'Gillette',
 'Gits',
 'Glaccay',
 'Glade',
 'Glade',
 'Glade',
 'Glide',
 'Glide',
 'Glucon-D',
 'Gluman',
 'Gluman',
 'Gluman',
 'Godrej',
 'Godrej',
 'Godrej',
 'Godrej',
 'Godrej',
 'Godrej',
 'Godrej',
 'Godrej No 1',
 'Golden Bakery',
 'Golden Bakery',
 'Golden Dove',
 'Britannia Good Day',
 'Good Earth',
 'Good Health',
 'Good Knight',
 'Greenlime',
 'Guruji',
 'Guruji',
 'Guruji',
 'Guruji',
 'Hair & Care',
 'Hajmola',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Haldirams',
 'Halo',
 'Hamam',
 'Happy Cow Cheese',
 'Happy Cow Cheese',
 'Happydent',
 'Hari Bhog',
 'Hari Darshan',
 'Hari Darshan',
 'Harpic',
 'Harpic',
 'Harsh Pet',
 'Harvest Gold',
 'Hawai',
 'Head & Shoulders',
 'Head & Shoulders',
 'Heinz',
 'Henko',
 'Henko',
 'Heritage',
 'Heritage',
 'Heritage',
 'Hersheys',
 'Hersheys',
 'Hersheys',
 'Parle Hide & Seek',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Himalaya',
 'Hit',
 'Home Foil',
 'Home Foil',
 'Home Ideas',
 'Homelite',
 'Horlicks',
 'Horlicks',
 'Horlicks Womens',
 'Huggies',
 'Huggies',
 'India Gate',
 'India Gate',
 'Indian Star',
 'Indica',
 'Indica',
 'Indica',
 'Iodex',
 'Jabsons',
 'Jagdamba',
 'Jagdamba',
 'Jayaka',
 'Jet',
 'Jet',
 'Johnsons',
 'Jolen',
 'Jovan',
 'Jovan',
 'Jumpin',
 'Kamasutra',
 'Kamasutra',
 'Kara',
 'Kara',
 'Kara',
 'Kara',
 'Kara',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Karma',
 'Kelloggs',
 'Kelloggs',
 'Kelloggs',
 'Kelloggs',
 'Keo Karpin',
 'Keo Karpin',
 'Khadi',
 'Khadi',
 'Khadi',
 'Khadi',
 'Khoob Khao',
 'Khoob Khao',
 'Kikkoman',
 'Kikkoman',
 'Kikkoman',
 'Kimball',
 'Kimball',
 'Kinley',
 'Kinley',
 'Kissan',
 'Kit Kat',
 'Kit Kat',
 'Kitchens Of India',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kitchens Promise',
 'Kiwi',
 'Kiwi',
 'Knorr',
 'Knorr',
 'Kohinoor',
 'Kohinoor',
 'Kotex',
 'Kotton',
 'Krack',
 'Krack',
 'Kraft',
 'Kraft',
 'Kraft',
 'Kraft',
 'Kraft',
 'Kraft',
 'Parle Kreams',
 'Kurkure',
 'Kurkure',
 'Kurkure',
 'KVG',
 'KVG',
 'KVG',
 'KVG',
 'KVG',
 'KVG',
 'Kwality Colours',
 'Kwality Walls',
 'Lactogen',
 'Lakme',
 'Lakme',
 'Lal Qilla',
 'Laxmi Bhog',
 'Lays',
 'Lays',
 'Lays',
 'Lee Bee',
 'Leh Berry',
 'Leh Berry',
 'Lehar',
 'Lehar',
 'Lifebuoy',
 'Lijjat',
 'Limca',
 'Lipton',
 'Lipton',
 'Liril',
 'Litchica',
 'Britannia Little Hearts',
 'Littles',
 'Littles',
 'Littles',
 'Littles',
 'Littles',
 'Littles',
 'Livon',
 'Livon',
 'Lizol',
 'Lizol',
 'Lock & Lock',
 'Lock & Lock',
 'Lomani',
 'Lomani',
 'Lomani',
 'Lomani',
 'Lomani',
 'Lotte',
 'Lovin',
 'Lux',
 'Maaza',
 'Maaza',
 'Madhur',
 'Madhur',
 'Maggi Core',
 'Maggi Core',
 'Malas',
 'Malas',
 'Mama Maria',
 'Mama Maria',
 'Mama Maria',
 'Mangaldeep',
 'Mangaldeep',
 'Manpasand',
 'Manpasand',
 'Mansion',
 'Mansion',
 'Maped',
 'Mapro',
 'Mapro',
 'Mapro',
 'Margo',
 'Margo',
 'Marie Gold',
 'Mars',
 'Mayfair',
 'Mc Vities',
 'Mc Vities',
 'MDH',
 'Mediker',
 'Medimix',
 'Medimix',
 'Medimix',
 'Mentos',
 'Meswak',
 'Milk Bikis',
 'Parle Milk Shakti',
 'Milkana',
 'Milkfood',
 'Milkmade',
 'Milo',
 'Minute Maid',
 'Mirinda',
 'Mistique',
 'Modern',
 'Modern',
 'Modern',
 'Modern Bread',
 'Modern Bread',
 'Modern Bread',
 'Modern Bread',
 'Modi',
 'Mohuns',
 'Monaco',
 'Monginis',
 'Monginis',
 'Monkey',
 'Montex',
 'Moon Lite Toy',
 'Moov',
 'Moov',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.',
 'more.essentials',
 'more.essentials',
 'more.essentials',
 'more.essentials',
 'more.Quality For You',
 'more.Selecta',
 'more.Selecta',
 'more.Selecta',
 'more.Selecta',
 'more.Selecta',
 'more.fy',
 'Mortein',
 'Mortein',
 'Moser Baer',
 'Moser Baer',
 'Mother Dairy',
 'Mother Dairy',
 'Mothers Recipe',
 'Mothers Recipe',
 'Mothers Recipe',
 'Mountain Dew',
 'Mr. Fresh',
 'Mr. Muscle',
 'Mr.White',
 'Mr.White',
 'Mrs. Marino',
 'MTR',
 'MTR',
 'MTR',
 'Munch',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'MUSKAN',
 'Musst Bites',
 'Mysore Sandal',
 'MZB',
 'Nan',
 'Nan',
 'Nature Fresh',
 'Navneet',
 'Navneet',
 'Navratna',
 'Nayasa',
 'Nayasa',
 'Neesa',
 'Neo Fresh',
 'Neo Fresh',
 'Nescafe',
 'Nestea',
 'Nestea',
 'Nestle',
 'Nestle',
 'Nestle',
 'Nestle',
 'Nestle',
 'Nestle',
 'Nestle Eclairs',
 'Nestum',
 'Neva',
 'Nice Time',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nilons',
 'NIP',
 'NIP',
 'Nippo',
 'Nippo',
 'Nippo',
 'Nirma',
 'Nirma',
 'Nirulas',
 'Nirulas',
 'Nissin',
 'Nivea',
 'Nivea',
 'Nivea',
 'No Marks',
 'No Marks',
 'No Marks',
 'NO-P CIK',
 'Nrich',
 'Nutralite',
 'Nutralite',
 'Nutralite',
 'Nutrela',
 'Britannia Nutri Choice',
 'Nutrine',
 'Nyle',
 'Odomos',
 'Odonil',
 'Odopic',
 'Old Spice',
 'Old Spice',
 'Old Spice',
 'Old Spice',
 'Omega',
 'Omega',
 'Omega',
 'Onjus',
 'Oral B',
 'Oral B',
 'Orbit',
 'Orbit',
 'P Mark',
 'Pachranga',
 'Pachranga',
 'Pachranga',
 'Pagro',
 'Palette',
 'Palette',
 'Palmolive',
 'Pampers',
 'Pantene',
 'Pantene',
 'Pantene',
 'Parachute',
 'Parachute Advanced',
 'Parachute Aftershower',
 'Paradise',
 'Paradise',
 'Paradise',
 'Parampara',
 'Parampara',
 'Parampara',
 'Parampara',
 'Parampara',
 'Paras',
 'Paras',
 'Parijat',
 'Parijat',
 'Park Avenue',
 'Park Avenue',
 'Park Avenue',
 'Park Avenue',
 'Park Avenue',
 'Parle',
 'Parle',
 'Parle G',
 'Parle Marie',
 'Pearlpet',
 'Pearlpet',
 'Pearlpet',
 'Pears',
 'Peppy',
 'Peppy',
 'Pepsi',
 'Pepsodent',
 'Pestex',
 'Pestex',
 'Pestex',
 'Phillips',
 'Phillips',
 'Phillips',
 'Pickwick',
 'Pickwick',
 'Picric',
 'Piknik',
 'Pillsbury',
 'Pillsbury',
 'Pillsbury',
 'Pitambari',
 'Pondicherry',
 'Pondicherry',
 'Pondicherry',
 'Ponds',
 'Ponds',
 'Post',
 'Post',
 'Post',
 'Post',
 'Post',
 'Post',
 'Post',
 'Pravin',
 'Pravin',
 'Pravin',
 'Pravin',
 'Pravin',
 'Pravin',
 'Prego',
 'Prego',
 'Prego',
 'Prego',
 'Premier',
 'Premier',
 'Premier',
 'Premier',
 'Premium',
 'Premium',
 'Presto',
 'Presto',
 'Pril',
 'Pril',
 'Prime Time',
 'Prince',
 'Prince',
 'Prince',
 'Prince',
 'Prince',
 'Prince',
 'Prince',
 'Prince',
 'Pringles',
 'Pringles',
 'Priya',
 'Priyagold',
 'Britannia Pure Magic',
 'Quaker',
 'Quaker',
 'Quaker',
 'R.Navnitlal',
 'Raamabhoj',
 'Raj Pratibha',
 'Rajdhani',
 'Rajdhani',
 'Rajdhani',
 'Ramdev',
 'Ramdev',
 'Rangeela',
 ...]

In [20]:
#Your list of brand names
manufacturer_names = Brand_names_list

# Create a set from the list to remove duplicates
unique_manufacturer_names = set(manufacturer_names)

# Convert the set back to a list if you need to
unique_manufacturer_names_list = list(unique_manufacturer_names)

print(unique_manufacturer_names_list)  # Output: ['Brand A', 'Brand B', 'Brand C

['Hugo', 'Phillips', 'Doraemon', 'British Nutrition', 'YLG', 'Chelsea', 'Mataji', 'Avees', 'Videocon', 'Muscat', 'Kuldeep Arts', 'Snickers', 'Ambli', 'Illam', 'Sita Shree', 'ELAN', 'Tzinga', 'Shubhann', 'Gold Touch', 'Srinath Cotton Combines', 'Ardbeg', 'Macclite', 'VICENZOVO', 'VI-John', 'Bosch', 'Cap Ping Pong', 'Flex', 'Big Sam', 'Garlic', 'HANES', 'Kerk', 'Apsara', 'Ecofarms', 'Nicorette', 'Mark Papad', 'Vector X', 'Uncle Chips', 'Manjushree', 'Andhra Coffee', 'IFB Prawns', 'Classics Namkeens', 'Maxhealth', 'Popcorn', 'VKC Footwear', 'Namaste India', 'Nilkamal', 'Lehar', 'Aachi', 'Bewell', 'Komal', 'Perfetti Alpenliebe', 'Super K', 'SLV', 'Aruna', 'Jaya Tea', 'Majorico', 'Kanak', 'Vow', 'NOI', 'TDS BRAND', 'Merci Chef', 'BLUE RIBAND', 'Shanti', 'PASEO', 'Naturoz', 'Karma', 'J Mix', 'Wrigleys Boomer', 'Skillmatics', 'American Garden', 'Maisto', 'Boroline', 'Akshath', 'Pantene', 'Handicraft', 'Kodak', 'Jamie Oliver', 'Pureit', 'BLACK DOG', 'Gour Hari Homoeo Hahnemann', 'Gillette Guard', 'Ramji papad', 'KF LAGER', 'MCVITIES', 'Anil', 'ITC Mint O Fresh', 'Blossom Impex', 'G-Hazoor', 'Yummies', 'Aakash', 'Taj Bakery', 'Stella', 'ROYAL STAG', 'Sadanand', 'Ramakrishna', 'Nafees', 'Close Up', 'Germex', 'Megachoice', 'Ozon', 'OSTER', 'Sonic', 'Itch Guard', 'Wai Wai', 'Field Fresh', 'Red Hunt', 'Rownees', 'CARRY ON', 'Mayfair', 'ITC Candyman', 'LBP', 'Saya', 'Pujitha', 'Milagrow', 'S Mint', 'Jewel', 'Donatella', 'Keventer', 'Get Egg', 'Brokers', 'Navratna', 'Dukes Waffy', 'Ustraa', 'Paper Theatre', 'Storia', 'M&M', 'Old El Paso', 'AFTER DARK', 'Desperado', 'Malabar', 'Deli Penrex', 'Merba', 'Paasapahce', 'Home Max', 'Nandita', 'Mello', 'Kingfisher Lager', 'Fevicryl', 'Beyouty', 'Real Shack', 'Britannia Promo Pack', 'Smile', 'Oleev', 'Kinary', 'Fabmall', 'Sethwala', 'Gala', "Sahny'Z", 'Gold Star', 'HOT BREADS', 'Solano', 'Xxuma', 'Pooja', 'Lotus Color', 'Baramati Agro', 'Winkies', 'Rice', 'Nukra', 'Kissan Nutrismart', 'Arcor', 'YUH', 'Gopaljee', 'MCD SIGN PREM', 'Sponge Bob', 'Badshah', 'Seven Star', 'Annapurna Ghee', 'Ezee', 'Cloud 9', 'Monin', 'Fackelmann', 'ATS', 'Sprite', 'Periyar', 'R R TEXTILES', 'Banglore Malt', 'Lipton', 'Ideal Ice Cream', 'Sahiba', 'Coral', 'I-', 'Health Magazine', 'Brijnandan', 'Diet Pepsi', 'HINTZ', 'Pring -Towels', 'Smith & Jones', 'EVERY DAY Breads', 'Eyetex', 'SARWAGI', 'BG PAPER', 'JP Textile', 'RECORN', 'Mothers Kitchen', 'Borosoft', 'Fini', 'Kelloggs Savory Oats', 'others', 'Raama', 'TNA', 'Big Cola', 'Bengali', 'Beebop', 'Conscious', 'Arokya', 'Cococare Coconut Oil', 'Gupta Glass', 'Meri Chai', 'Mars', 'ECCHANTMENT', 'Sun Roop', 'Suriyan', 'Kikkoman', 'Laxmi Bhog', 'Undhiya', 'JUSTMAGZ', 'Pass Pass', 'Vaseline', 'LAXMI INC', 'Dreamland', 'Immense', 'Yida', 'Chamria', 'CHEVON', 'Gomathi', 'Villa Maria', 'Ahmed Ali Bakery', 'Nice Time', 'Idris', 'Cabbage', 'Mlesna', 'GTS', 'CURVER', 'DR BATRAS', 'Aristocrat', 'Manama', 'KNOCK OUT', 'Chamundeshwari', 'Roxx', 'CATCH-5', 'Sports', 'Cadbury Celebration', 'Srirams', 'GLENROT', 'Delight Foods', 'Bdel', 'NATURE DESIGN', 'Jelly drop', 'Chik', 'Spencers', 'Woosh', 'Vicks', 'Perfetti Marbels', 'Tata Swatch', 'Cream Bell', 'Mapro', 'Republic Of Chicken', 'Testobite', 'Kanchan', 'TTK', 'Kisan', 'Brooke side', 'Homespread', "ALL THAT'S GOOD", 'Himalayan Cheese', 'MIVA', 'White Tiger', 'Nivea', 'Mili', 'INSTINCT', 'Liso', 'TEQUILA', 'Nellai Marketing', 'Raw Pressery', 'Cycle Flute', 'Gajanan', 'Pop Weavers', 'So Soft', 'Lactima', 'Fishers', 'Parle Festo', 'KAYAM', 'Seagate', 'Ben10', 'Swayam', 'Mafix', 'JBL', 'Mawana', 'Bolla', 'Ruchi Housewares', 'MITTAL', 'Dammani', 'Softel', 'Accumass', 'Balaji Jewellery', 'Suthol', 'TATA GRAND', 'Cantina', 'Sauza Silver', 'INFOBELLS', 'London Dairy', 'Mo Del', 'Tirumalla', 'Popular Applam', 'SKYBAGS', 'Milkyway', 'A Plus', 'Panghat', 'AADHYA', 'STEEL GRIP', "Jag'S Eyewear", 'Dana', 'BECKER', 'Dipsters', 'Heinz canned', 'Tex', "Sethia's", 'Slanzer', 'PIONEER COLLECATION', 'Leukoplast', 'TOP TRUMP', 'Fenda Audio', 'Naveen Food Products', 'SAI', 'Juneja Global', 'Yoga Bar', 'Fisher Price', 'Kelloggs K Pack', 'Riwaaz', 'Just Spray', 'AMARE', 'Star Cosmetics', 'Breton', 'Murphys', 'Tulips', 'Navchetan', 'Dr.Choice', 'SAWARAGIE SWEETS', 'Shamrock', 'Dabur Almond', 'Nirlon', 'Saas-Bahu', 'Foody', 'Children Magazine', '501', 'OCEAN GLASS', 'Mamas', "Wrigley's Stick pack", 'Archies', 'Tuborg', 'Mannar', 'Gillette Mach 3', 'PINE-SOL', 'Cerebos', 'Cavins', 'Royal Ramba', 'Gagan', 'Iraya', 'U-Globe', 'Sun Swad', 'Kalnirnay', 'Finesse', 'Poonkodi', 'Cornitos', 'Tresemme', 'Alpenliebe candy', 'Dinesmart', 'Param', 'Wonderland', 'Bengal', 'Kwality Conf', 'HOEGAARDEN', 'Syros', 'Tilda', 'Toespring', 'AGRIM', 'Brooke Bond A1', 'Onjus', 'Playmate', 'Sparkle', 'Jagdamba', 'Ganapathy', 'SILVERFISH', 'Premium Chandan', 'AEROLINE', 'Vaa', 'Coorg', 'Twiss', 'SOYFRESH', 'T-series', 'Zen Tofu', 'Horlicks', 'Khara Sona', 'Sting', 'Joshi', 'Nerf', 'Mederma', 'BOMBAY BITE', 'Tenderils', 'Chinkara', 'Levista', 'Amarula', 'Muffets & Tuffets', 'Chhokra', 'Priya Biscuits', 'Solemio', 'Relispray', 'Shikakai', 'Red Lips', 'Princy', 'Inland Valley', 'Glenands', 'Ankoot', 'Britannia Time Pass', 'Perfetti Happy Dent bottle', 'Idhayam', 'Pakeeza', 'ERIST OFF', 'PRUTINA', 'Kurkure', 'Dhathri', 'Mahasaver', 'PRABHA FASHION', 'BRITANNIA BOURBON', ' Hoppers & POPPERS', 'Parachute Advanced Jasmine', 'Premium', 'Cadburys', 'GATO NG', 'Golden Bansi', 'Mini klub', 'Organic Tattva', 'Recron', 'Quaker', 'SIDDHANT', 'Parachute Advanced Men', 'TGB', 'Babool', 'HEXA POWER', 'Britannia Little Hearts', 'Wonder Wings', 'Red and White', 'Celebration Diwali', 'JAMESON IRISH', 'GLENFIDICH', 'HAPPY FACE', 'Fa', 'Herbal Essence', 'Intex', 'Nutties Gritties', 'Dexina', 'Kannikamba', 'Stitch', 'Sofy', 'Evita', 'Annapoorna', 'Chandu', 'Havells', 'Sweta Electronics', 'Guinea', 'Hindalco', 'Amulya', 'LITL YRG', 'Kanchana', 'Daily Papad', 'TMS', 'Tata Life', 'Aqualite', 'Pooja Gallery', 'Castello', 'Ponds Age Miracle', 'Jockey', 'Genius', 'Meena', 'Easy Cook', 'Sushma', 'GO CHEESE', 'Dev Namkeen', 'Daadi Ki karahi', 'Monopoly Marketing', 'Dadiwala', "Maker's Mark", 'Yoku', 'GOLDEN BELL', "Teacher's 50", 'COUNTTY', 'Nirapara', 'Shree Dwarka Rice', 'Cremica', 'Apetina', 'SPARX', 'Bru R&G', 'Divya', 'Malati Madras', 'Tiffany', 'Tanvi', 'Dora', 'Wrigleys Orbit', 'JACK', 'Granny Goose', 'Mankind', 'Gillette Vector', 'Faultless', 'Palm Raja', 'PETER SCOT', 'Rajasthani', 'Red Tape', 'LUHAA', 'Sea Star', 'Brewberry', 'Rv', 'DEFORT', 'Super Vasmol', 'Mcrennett', 'Buzzbee', 'MDC', 'Loose egg', 'Jamie', 'JAY LINK', 'Priya Sunflower Oil', 'Charlie', 'Nestle Polo', 'Kanan Devan', 'Taj Mahal', 'ActiLife', 'Bella Voste', 'Kiwi', 'Chekko', 'Ferrero Rocher', 'Sutter Home', 'Kollis', 'Europe', 'Freixenet Cordon Negro', 'Xena', 'Fortune', 'Boost', 'Cutty sark', 'Sandpiper', 'Hit', 'Loose batter', 'Ajinomoto', 'Rakshak', 'Dalda', 'Vina Tarapaca', 'Aerofit', 'Mamy Poko', 'Milma', 'Skippy', 'Dairy Pure', 'Doctor', 'Cooking Choice', 'Navjeevan', 'AEROH', 'diasafe', 'Altius', 'SILVER CUP', 'POLYSET', 'Shilpa', 'Aladdin', 'Britannia Good Day', 'Stopache', 'Soignon', 'MTR', 'ULTRA', 'Oldelpaso', 'Mogu Juice', 'Banjaras', 'More Fresh', 'Kit Kat', 'Sopan', 'Moreish', 'Remy Martin', 'Pavizham', 'Et-Mi', 'Miltop', 'Asahi', 'PVT LAB', 'Fujian', 'VATSAL', 'Pentas', ' Captain Q', 'Sunfeast Special', 'Mattel Games', 'Coco Care', 'ELLEEN', 'RK TRADE', "Giani's", 'Ambipur', 'Mahakosh', 'Parnami', 'Zago', 'Clix', 'Laminate', 'Grabbies', 'Irich', 'Tata Sampann', 'Stay Cool', 'Bingo', 'Ceaars', 'Yoli Yola', 'HUNTER', 'Transformers', 'JK Green', 'Thums Up', 'Kinley', 'Sonata', 'APL', 'More. Selecta', 'Fair & Healthy', 'M A B VIN DE', 'Vin Clean', 'Havoc', 'Good Clean', 'Colgate Super Flexi', 'Bhikharam Chandmal', 'Aanya', 'Homex', 'Druk', 'Edge', 'Star Publications', 'Every Man', '361', 'Delfi', 'Thangams', 'MZB', 'Jai Kisan', 'Flying Tiger', 'Cocoraj', 'Spencer', 'Arita', 'DIGNITY', 'Sun', 'Rajshree', 'D Cold', 'Palette', 'ARTIS', 'Gustora', 'Choki Choki', 'Mr. Black', 'Prism Books Pvt. Ltd', 'Pepsi', 'Cure On', 'Bachler Soup', 'COBRA', 'Indus', 'Stuti Khakhara', 'Al Amir', 'Swadist', 'Mix Vegetable', 'Casanova', 'Parijat Organics', 'Monginis', 'Chicco', 'PREM RATNA TOYS', 'Royal Dansk', 'HIMALYA SIMPLOT', 'Santana Tempranillo', 'TOYZONE', 'Figaro', 'Wingreens', 'Chalk', 'Sugar Free', 'Silkience', 'UPPIPL', 'Holdtite', 'Uddhavs', 'Kingfisher STORM', 'Jadoo', 'Loreal Natural', 'Big Feet', 'Saffa Buffalo', 'DECO WINDOW', 'Spyran', 'Cibaca', 'Papaya', 'Pampers', 'Kronenburg', 'Wells', 'LAPAR', 'Foaran', 'bangles', 'Tai Sun', 'nu mu', 'Everyuth Men', 'Bakers Fresh', 'Astalaxmi', 'Sms Namkeens', 'Eros', 'Angry Bird', 'Premier Frozen', 'Srinath', 'Mace', 'Thai Cheung', 'Nakoda', 'Feasters', 'Yashoda', 'Vanish', 'Tropic Treats', 'Garlynn', 'Healthy choice', 'Sri Krishna', 'Gatorade', 'Nestle Chocolate', 'Biryaneez', 'Bajaj Kailash Parbat', 'Aramusk', 'Fruitfil', 'GO', 'AXA', 'Scrubeer', 'Other Gourds', 'Nutty', 'Oxemberg', 'Savour', ' ID', 'Harpic', 'Sky Pet', 'Minute Maid Nimbu Fresh', 'Khungars', 'Boekenhoutskloof', 'Man of the Year', 'Sai Sudha', "Nature's treat", 'Dabur Sarson Amla', 'Texas', 'Nambisan', 'Dairymax', 'Boss', 'Model', 'Crystal', 'BTC', 'Amar', 'Gayatri puja dhup', 'Diya', 'Fresh Lime', 'Olympic', 'Glito', 'SLVR', 'Avani', 'Toys Box', 'Dhamayanthi', 'Jacobs', 'MCD SIGNATURE', 'Mansion', 'Kmr', 'Anurag', 'Dr.Scholl', 'Natkhat', 'Alfa', 'Chateau Goumin', 'Big Entertainment', 'VISTA', 'Biotique', 'Canon', 'Nandini', 'Milkma', 'Micromax', 'Elastoplast', 'Lucky', 'MILAN', 'Brinjal', 'John Miller', 'Dyna', 'Greenzz', 'Hudson', 'Parle happy happy', 'Streax Insta', 'Bogart', 'Dadhas', 'Sresta', 'Dairy Fresh', 'Shemaroo Video', 'POTS N PAN', 'Bailley', 'Stop Not', 'Tobu', 'Cadbury Eclairs', 'ONLY KIDZ', 'B Natural', 'Similac', 'SADDANA SUGAR CO', 'Flair', 'Akar', 'Agropure', 'GREENCHEF', 'Pravin Pickle', 'Melina', 'Sunrich', 'Nivea Men', 'Tea Valley', 'Cosco', 'Leo', 'Super', 'Jolly Rancher', 'Colgate SVS', 'Lion', 'Pink', 'Mr Clean', 'Vias', 'Dutch', 'Parking Coupon Redemption', 'MBR', 'Parksons', 'Fresca', 'Shri Spices', 'Marco Ferro', 'Sabeena', 'Guliyan', 'So Good', 'Anne french', 'Coca-Cola', 'Margo', 'Disney', 'Marsh Mallow', 'Pondicherry', 'Cigar', 'Old Port Export', 'Ramdev', 'Cello', 'Palam', 'Nestle Kit Kat', 'Saffola Masala Oats', 'Goana', 'Cambridge', 'J.B.MANUFACTUIRNG CO.', 'PLING', 'Nestum', 'PSD', 'Mediker', 'NEDERBURG', 'Green Bite', 'LEFFE', 'Colour Me', 'Licious', 'Parle Milk Shakti', 'Super Cassettes Industries Ltd', 'Roots', 'VAJRAA IMPEX', 'Pegasus', 'REJOICE KOOL', 'G AND D', 'Apple', 'Duke', 'Emami', 'Transcend', 'Uttam', 'J AND B', 'Ring Guard', 'Annamaiah', 'Nijanad', 'Colgate Cibaca', 'Tequila Don Alejandro', 'Telegu', 'Kamakshi', 'Parachute Advansed Ayurvedic', 'Triones', 'PARAMDAKSHA', 'Safed', 'Soulfull', 'Insignia', 'Alayam', 'Smith and Jones', 'Value', 'Faima Di Wills Men', 'Daily Bread', 'BPI India', 'Fena', 'Filmi Shakkar', 'Capri-Sun', 'Lounge', 'Enliven', 'THE AFRICAN HORIZON', 'Sattviko', 'Pedigree', 'Revlon', 'Chetana', 'Pierre Cardin', 'Shree Rakhi', 'Farmella', 'WHITE GOLD', 'World Cup', 'LANCERS', 'Madhur', 'D-Link', 'DOMS', 'Stretchnil', 'Kitty', 'Musst Chips', 'Stute', 'OLD ADMIRAL', 'In Blue', 'Tify', 'Becter Shield', 'Parle Marie', 'VAT 69', 'Godrej Hersheys', 'Chudi', 'ORGANA', 'Flamingo', 'Classic Imports', 'Glory', 'Paree', 'Adithya', 'DYE', 'Nima', 'Khadi', 'Tirumala', 'Jet', 'SPAWAKE', 'Virinchi', 'Bliss Tofu', 'Aadhaar', 'Champion', 'Joyfull', 'Oraheal Mouth', 'Parivar', 'CHANDON BRUT ROSE', 'Lays Maxx', 'Palada', 'Grissol', 'Devaaya', 'Entertainment Magazine', 'Nature Care', 'Fancy Fabrics', 'Borsin', 'Axe Gold', 'Ensure', 'POP', 'Parrys', 'Vsr', 'Kissan', 'Ayam', 'Twinings', 'Peter england', 'Rasoi Magic', 'Illy', 'M Seal', 'MY', 'Lotto', 'Senu', 'Parle Fab Jam In', '100 PIPERS', 'Golden wheat', 'SOULFLOWER', 'ZEBRONICS', 'TRAPHICHE', 'Palmo', 'Mitashi', 'Million Words Media', 'MILKYBAR CHOO', 'Guozimei', 'MMCH', 'Utility', '3 Roses Mind Sharp', 'MSD', 'Heidi', 'Big Babol', 'Torquel', 'Garden', 'Maxi', 'Nestle Selections', 'KDD', 'Uniross', 'Planters', 'Vittle', 'Nature Valley', 'Besto Ice Cream', 'Tiger Brite', 'Overdrive', 'LOONEY TUNES', 'Kitchens Treasure', '3M', 'Kapol', 'Americas Best Canistar', 'Nature Pure', 'Tata Agni', 'Act II', 'Gaga', 'I-Gen Cigarette', 'COLLONIL', 'Ambadi', 'Stree Sakhi', 'KVK', 'Nutralite', 'Rexona', 'Suraksha', 'YO', 'Bayars', 'Enchanteur', 'Appleware', 'Dabur Special', 'Sharda', 'Savi', 'Astra', 'Red Label Special', 'SLUBAN', 'BONJOUR', 'Jb', 'Parijat', 'All Time', 'Palji', 'Marco Polo', 'Jaico', 'Dio', 'Dorall', 'Uptron', 'Fabelle', 'VISHAL', 'Baronia', 'Flanders Cheese', 'Identity', 'SOUVERIEGN', 'The Laughing Cow', 'PERKY', 'Dandi Tofu', 'St. Ives', 'Nestle Nan', 'Britannia Rusk', 'Sri Ruchi', 'Stanley', 'Home Exim', 'PLG', 'Order', 'Eat Real', 'Oscar', 'Fruitessa', 'Top Sport', 'Santosh', 'Balaji', 'Lamsa', 'SONAX', 'Atithi', 'Chakote', 'Livon', 'Comfort', 'Shri 420', 'Keya', 'Fresh Choice', 'Dabur Activ', 'Nutramul', 'Nestle smooth', 'Fresh', 'Wilson', 'JIMBEAM', 'Ritter', 'Norton', 'Raja Biscuit', 'Courvoisier', 'Oral B', 'Sunsteel', 'Lips', 'Cutee', 'Racold', 'Cragganmore', 'Chaska', 'Dukes', 'Keya Seth', 'Nescafe Cappuccino', 'Gulliver', 'Black Panther', 'Pancharas', 'S P Bombay', 'Domex', 'Nestle After Eight', 'Nescafe Classic', 'The MMX Bakery', 'Purex', 'Paradise', 'Vidhi', 'NITRITE', 'Vios', 'MORPHEUS', 'Lifebuoy', 'CHIRAG', 'Pogo MAD', 'Bullet', 'ROLSON', 'Goodricke', 'Orbit', 'Datar', 'Bulk', 'Crompton CFL', 'Kaula', 'Moneta', 'Fun', 'SAPNA', 'Korndrop', 'AD Store', 'Shantis', 'Gallant', 'RATAN', 'Dynamix', 'Vatika', 'Loreal Expertise', 'Fruittella', 'FRIENDS', 'Creation Lamis', 'F & S', 'Barbie', 'Miguel Torres San', 'ANTIQUTY', 'Apis', 'Brasso', 'Dlecta Creme', 'Mohit Marketing', 'FUNDA', 'KLF Nirmal Virgin', 'Jaan Tea', 'Marina', 'Buffet', 'Neva', 'Kirans', 'Lust', 'Parakh', 'Kitchens Of India', 'AMBRANE', 'Indorilal', 'Mama Maria', 'Pepfiz', 'F&D', 'Charminar', 'Snack Time', 'Cadbury Drinking Chocolate', 'Magic Train', 'THEMEZ ONLY', 'Chidos', 'Ultra Crepe', 'Raindrop', 'Sol Cerveza', 'Nivea Senses', 'Langoor', 'Lee Kum Kee', 'Montage', 'Roshans Papad', 'Abzorb', 'Capsicum', 'BLS', 'Surja', 'Godrej Expert', 'OLD MONK', 'Bento', 'SOUTHERN LEAF CO', 'PARLE MONACO', 'Eggs', 'Britannia Nutro', 'Reimann', 'Dave ka Divya', 'Mee Mee (Apparel)', 'Euro', 'Saulmifico', 'Kapiva', 'Cherry', 'Binaca', 'KR', 'Rochas', 'Jean Louis', 'Regan', 'Volini', 'The Colour Factory', 'more.Quality For You', 'Manchester United', 'Haagan Dazs', 'True Roots', 'Stanes', 'Guylian', 'Just For Men', 'Bloo', 'Lal Mahal', 'Triveni', 'Savlon', 'JCPL', 'BABA STAR', 'Intimate', 'Santiago', 'Donear NXG - SOR', 'MCD PLAT', 'Mukharochak', 'Dr. Marcus', 'LIFE LINE', 'Mogu Mogu', 'Halmira Tea', 'Prudent', 'World Player', 'Wix N Wax', 'PALMPURE', 'O Toilet Seat Sanitizer', 'NAMDHARI', 'Comb', 'Indiras', 'Relish Namkeens', 'Itsy-Bitsy', 'HIRAN', 'Ratnam', 'Krackjack', 'JACS', 'Cadbury Tiffins', 'Vijay', 'Mamma`s Passion', 'Lalpan', 'Monkey', "L'Oreal Elvive", 'Sugarlesschocolate', 'Homeeware', 'MDH', 'Vinod', 'Bigboss', 'Mackerel', 'Clarus', 'Niteeka', 'Mother India', 'Trio', 'Kovilpatti', 'Bhape', 'Nivea Body', 'Omega', 'Donear', 'MCD VSOP', 'A&W', 'Grisbi', 'Glucerna', 'MILLER', 'Parle Kachha Mango bite', 'AMRUT AMALGAM MALT', 'Brut', 'Dilbhar', 'C2', 'Nelf USA', 'Fresco Pollo', 'Thomyam', 'Umbro', 'Every Day', 'Kelloggs', 'garnier men', 'Garnier Mask', 'Lipton Ice tea', 'Keune', 'Britannia Good Day Wonderfulls', 'Candico', 'OFFBEAT', 'Robinson', 'Burnaid', 'Batman', 'Tango', 'Royal Denis', 'Kirri', 'Poco Loco', 'V Guard', 'BAKES FRESH', 'Vogue', 'Mistique', 'Godya', 'Nutella', 'Indica Herbal', 'ESTELLA', 'Kumala', 'Novel Agrovet', 'Chromosome', 'Wheata', 'CIF', 'Indian Terrain', 'Butterfly', 'Coco Pure', "Monison's", 'Paper Boat', 'Colgate Herbal', 'M.O.M.', 'Kanechomn', 'STAYFIT', 'Kem', 'CINZANO', 'Maya', 'Mahaan', 'Dunhill', 'Shri Krishna Batter', 'Bru Gold', 'Kamasutra', 'Farm to Dine', 'Bata', 'Krishna', 'Whirlpool', 'Business Magazine', 'Monza', 'Top-10', 'PULL N DRY', 'Srusti', 'Fresh And Honest Alive', 'St. Dalfour', 'Jaipan', 'Kraft', 'Tulsi', 'Masqati', 'Mrs. Foodrite', 'KAL', 'GEMAR', 'ROMANOV', 'Tai Tau', 'Olivia', 'Aeroplane', 'Carrie Junior', 'ZOFF', 'Moon Lite Toy', 'Gr8', 'Vasavi', 'LARAH OPAL', 'Haldirams', 'Supper Gummy', 'May Hot', 'HAYWARDS 5000', 'Musa', 'P.K. Coaters', 'Zen', 'Sunfeast Dark Fantasy', 'Extreme-Z', 'MADISON STREET', 'Active kids', 'K7', 'Venus Toys', 'ISKON', 'PLAYDOH', 'MAGIC MOMENTS', 'Chetrans', 'Elle 18', 'Julien', 'Majithia', 'Arora Lemon', 'Regatta', 'Lyra', 'Vinodine', 'MDP', 'Dandy', 'Snapple', 'Bathfresh', 'Switz', 'Ala', 'Celebrating Moments', 'Om Bhakti', 'More Choice Superior', 'Competition Success Review', '1 To 3', 'Heritage International', 'Srinivas', 'Loreal', 'ARIMA', 'Mohuns', 'Pristine Deccan Gold', 'Virgilio', 'Camay', "GORDON'S", 'Altivo', 'Cadbury Halls', 'Elegant Weavers', 'Original Traveller', 'Omron', 'Pure Derm', 'DND', 'Surabhi', 'Bhaiyaji', 'Neo Foods', 'Doodla', 'Peritone', 'Karbonn', 'Flying Bird', 'Tasty World', 'Alpino', 'Spiderman', 'Sunsilk', 'Snack Break', 'Master Cook', 'Angostura', 'Jaykays', 'Saregama India Ltd.', 'Parle Golden Arcs', 'Reebok', 'Once Napa', 'Saint', 'OORVANI', 'Rajlaxmi Papad', 'Electrolux', 'RORA', 'Saulin', 'Toykraft', 'Fevistick', 'Silver Coin', 'Keang', 'CBS', 'Kitchen Essential', 'Bournvita', 'Vikram', 'Playboy', 'Santal', 'Assal Foods', 'Fiona', 'Chennis', 'Medi Nova', 'Fuel (Div 6)', 'Mahesh', 'CARONA', 'Suguna', 'Kalchi', 'Rajkamal', 'Anchor', 'Dream Baby', 'Ammaiappay', 'Milka', 'Mountain Dew', 'Snuggy', 'Otrivin', 'Mc Cain', 'Dr. Ortho', 'WALKER', 'Tropicana', 'Zico', 'Geo', 'Sunny', "FRY's", 'Pampas Del Sur', 'Beluga', 'Jalaram', 'Will', 'Karachi', 'Nutty Gritties', 'Natural', 'Calcium SANDOZ', "Agrawal's 420 Bite", 'Goodmanfielder', 'Pantai', 'Stolichnaya', 'Dream Theatre', '4700BC', 'Hogo', 'Mamathas', 'Glare', 'Royal', 'Bison', 'Fair & Lovely Men', 'Supra', 'Selections', 'Society Tea', 'ADATA', 'Kamani', 'Footguard', 'Burnol', 'BLACK GOLD', 'Soft touch', 'Sooprlife', 'Hamilton', 'Chambor', 'Remy', 'Rani', 'PRISTINE', 'Equity', 'Kailas Jeevan', 'Everest', 'Mehra', 'ID Fresh', 'Vegit Aloo', 'Dairy India', 'Puresense', 'Evervess', 'JOYMART', 'Work-out bar', 'Western Digital', 'Sunpure', 'Birla', 'IFB', 'Buttercup', 'Rin', 'Natural Bites', 'JoyMee', 'Varalakshmi', 'Ferrero Tic Tac', 'Soldepenas', 'Grey Goose', 'Ambica Saree centre', 'Claesens', 'Colgate Advanced', 'Special Chakki Fresh', 'MELDAS', 'Bedekar', 'Rainco Umbrella', 'BIG B', 'Real', 'Ruffino', 'Happy Cow Cheese', 'Precious Secrets', 'Greenlime Tissue', 'Excel Home Video', 'Hitachi', 'Healthy Heart', 'Johnnie Walker', 'Ecosac', 'Noor Jahan', 'Lakme Color', 'levis Sykes Junior', 'Baba Milk', 'Overture', 'Kyron', 'Siddi Gold', 'Karigiri jewellery', 'Nathans', 'Sun Premium', 'Ventisquero', 'Mee Mee', 'Shri Om bhog', 'JK', 'Primacy', 'Amkette', 'Mitushi', 'Abbies', 'Power Clean', 'She Comfort', 'DOREAMON', 'Abrl', 'Walt Disney', 'Morphy Richards', 'Ammas Special', 'Aer', 'PRESTIGE WHISKY', 'Panasonic', 'Black Belt', 'Bergen', 'Creative', 'Indica', 'Eco Glo', 'Blue Riva', 'Anil Vermcelli', 'MONETTA', 'GLENMORNGIE', 'Nutriful', 'Vim', 'INCHEELS', 'Samrat', 'Parle Mango Bite', 'Google', 'Velvet', 'Extreme Trader', 'Snapin', 'BOLS', 'Milkly Mist', 'PLAYSKOOL', 'Super Dynic', 'B. Vishal', 'Udv', 'NUMALS', 'Health Viva', 'Dear One', 'Gainda', 'R Whites', 'Bliss', 'CHIVAS REGAL', 'Organic India', 'Fish', 'Odonil', 'Bhealthy', 'KLF', 'Colt Mg3053', 'Deepak', 'T Series', 'Naturo', 'Tata Tea', 'Hansaplast', 'Alka', 'Dentyne', 'Colgate Sensitive', "Nayak'S", 'Leonardo', 'Rasna', 'Agni Media', 'Everest Coconut Oil', 'Strepsils', 'Rasoya', 'LUVIT', 'Tast Nibbles', 'Freshee', 'OISHI', ' Punjabi', 'DIA', 'SEHAR', 'Parle Cheeseling', 'Decora', 'Toy Home', 'Cadbury RDFC', 'Kotada', 'Pudin Hara', 'Surety', 'Ustav',

In [21]:
unique_brand_name_df_1=unique_manufacturer_names_list

In [22]:
unique_brand_name_df_1

['Hugo',
 'Phillips',
 'Doraemon',
 'British Nutrition',
 'YLG',
 'Chelsea',
 'Mataji',
 'Avees',
 'Videocon',
 'Muscat',
 'Kuldeep Arts',
 'Snickers',
 'Ambli',
 'Illam',
 'Sita Shree',
 'ELAN',
 'Tzinga',
 'Shubhann',
 'Gold Touch',
 'Srinath Cotton Combines',
 'Ardbeg',
 'Macclite',
 'VICENZOVO',
 'VI-John',
 'Bosch',
 'Cap Ping Pong',
 'Flex',
 'Big Sam',
 'Garlic',
 'HANES',
 'Kerk',
 'Apsara',
 'Ecofarms',
 'Nicorette',
 'Mark Papad',
 'Vector X',
 'Uncle Chips',
 'Manjushree',
 'Andhra Coffee',
 'IFB Prawns',
 'Classics Namkeens',
 'Maxhealth',
 'Popcorn',
 'VKC Footwear',
 'Namaste India',
 'Nilkamal',
 'Lehar',
 'Aachi',
 'Bewell',
 'Komal',
 'Perfetti Alpenliebe',
 'Super K',
 'SLV',
 'Aruna',
 'Jaya Tea',
 'Majorico',
 'Kanak',
 'Vow',
 'NOI',
 'TDS BRAND',
 'Merci Chef',
 'BLUE RIBAND',
 'Shanti',
 'PASEO',
 'Naturoz',
 'Karma',
 'J Mix',
 'Wrigleys Boomer',
 'Skillmatics',
 'American Garden',
 'Maisto',
 'Boroline',
 'Akshath',
 'Pantene',
 'Handicraft',
 'Kodak',
 'Jamie Oliver',
 'Pureit',
 'BLACK DOG',
 'Gour Hari Homoeo Hahnemann',
 'Gillette Guard',
 'Ramji papad',
 'KF LAGER',
 'MCVITIES',
 'Anil',
 'ITC Mint O Fresh',
 'Blossom Impex',
 'G-Hazoor',
 'Yummies',
 'Aakash',
 'Taj Bakery',
 'Stella',
 'ROYAL STAG',
 'Sadanand',
 'Ramakrishna',
 'Nafees',
 'Close Up',
 'Germex',
 'Megachoice',
 'Ozon',
 'OSTER',
 'Sonic',
 'Itch Guard',
 'Wai Wai',
 'Field Fresh',
 'Red Hunt',
 'Rownees',
 'CARRY ON',
 'Mayfair',
 'ITC Candyman',
 'LBP',
 'Saya',
 'Pujitha',
 'Milagrow',
 'S Mint',
 'Jewel',
 'Donatella',
 'Keventer',
 'Get Egg',
 'Brokers',
 'Navratna',
 'Dukes Waffy',
 'Ustraa',
 'Paper Theatre',
 'Storia',
 'M&M',
 'Old El Paso',
 'AFTER DARK',
 'Desperado',
 'Malabar',
 'Deli Penrex',
 'Merba',
 'Paasapahce',
 'Home Max',
 'Nandita',
 'Mello',
 'Kingfisher Lager',
 'Fevicryl',
 'Beyouty',
 'Real Shack',
 'Britannia Promo Pack',
 'Smile',
 'Oleev',
 'Kinary',
 'Fabmall',
 'Sethwala',
 'Gala',
 "Sahny'Z",
 'Gold Star',
 'HOT BREADS',
 'Solano',
 'Xxuma',
 'Pooja',
 'Lotus Color',
 'Baramati Agro',
 'Winkies',
 'Rice',
 'Nukra',
 'Kissan Nutrismart',
 'Arcor',
 'YUH',
 'Gopaljee',
 'MCD SIGN PREM',
 'Sponge Bob',
 'Badshah',
 'Seven Star',
 'Annapurna Ghee',
 'Ezee',
 'Cloud 9',
 'Monin',
 'Fackelmann',
 'ATS',
 'Sprite',
 'Periyar',
 'R R TEXTILES',
 'Banglore Malt',
 'Lipton',
 'Ideal Ice Cream',
 'Sahiba',
 'Coral',
 'I-',
 'Health Magazine',
 'Brijnandan',
 'Diet Pepsi',
 'HINTZ',
 'Pring -Towels',
 'Smith & Jones',
 'EVERY DAY Breads',
 'Eyetex',
 'SARWAGI',
 'BG PAPER',
 'JP Textile',
 'RECORN',
 'Mothers Kitchen',
 'Borosoft',
 'Fini',
 'Kelloggs Savory Oats',
 'others',
 'Raama',
 'TNA',
 'Big Cola',
 'Bengali',
 'Beebop',
 'Conscious',
 'Arokya',
 'Cococare Coconut Oil',
 'Gupta Glass',
 'Meri Chai',
 'Mars',
 'ECCHANTMENT',
 'Sun Roop',
 'Suriyan',
 'Kikkoman',
 'Laxmi Bhog',
 'Undhiya',
 'JUSTMAGZ',
 'Pass Pass',
 'Vaseline',
 'LAXMI INC',
 'Dreamland',
 'Immense',
 'Yida',
 'Chamria',
 'CHEVON',
 'Gomathi',
 'Villa Maria',
 'Ahmed Ali Bakery',
 'Nice Time',
 'Idris',
 'Cabbage',
 'Mlesna',
 'GTS',
 'CURVER',
 'DR BATRAS',
 'Aristocrat',
 'Manama',
 'KNOCK OUT',
 'Chamundeshwari',
 'Roxx',
 'CATCH-5',
 'Sports',
 'Cadbury Celebration',
 'Srirams',
 'GLENROT',
 'Delight Foods',
 'Bdel',
 'NATURE DESIGN',
 'Jelly drop',
 'Chik',
 'Spencers',
 'Woosh',
 'Vicks',
 'Perfetti Marbels',
 'Tata Swatch',
 'Cream Bell',
 'Mapro',
 'Republic Of Chicken',
 'Testobite',
 'Kanchan',
 'TTK',
 'Kisan',
 'Brooke side',
 'Homespread',
 "ALL THAT'S GOOD",
 'Himalayan Cheese',
 'MIVA',
 'White Tiger',
 'Nivea',
 'Mili',
 'INSTINCT',
 'Liso',
 'TEQUILA',
 'Nellai Marketing',
 'Raw Pressery',
 'Cycle Flute',
 'Gajanan',
 'Pop Weavers',
 'So Soft',
 'Lactima',
 'Fishers',
 'Parle Festo',
 'KAYAM',
 'Seagate',
 'Ben10',
 'Swayam',
 'Mafix',
 'JBL',
 'Mawana',
 'Bolla',
 'Ruchi Housewares',
 'MITTAL',
 'Dammani',
 'Softel',
 'Accumass',
 'Balaji Jewellery',
 'Suthol',
 'TATA GRAND',
 'Cantina',
 'Sauza Silver',
 'INFOBELLS',
 'London Dairy',
 'Mo Del',
 'Tirumalla',
 'Popular Applam',
 'SKYBAGS',
 'Milkyway',
 'A Plus',
 'Panghat',
 'AADHYA',
 'STEEL GRIP',
 "Jag'S Eyewear",
 'Dana',
 'BECKER',
 'Dipsters',
 'Heinz canned',
 'Tex',
 "Sethia's",
 'Slanzer',
 'PIONEER COLLECATION',
 'Leukoplast',
 'TOP TRUMP',
 'Fenda Audio',
 'Naveen Food Products',
 'SAI',
 'Juneja Global',
 'Yoga Bar',
 'Fisher Price',
 'Kelloggs K Pack',
 'Riwaaz',
 'Just Spray',
 'AMARE',
 'Star Cosmetics',
 'Breton',
 'Murphys',
 'Tulips',
 'Navchetan',
 'Dr.Choice',
 'SAWARAGIE SWEETS',
 'Shamrock',
 'Dabur Almond',
 'Nirlon',
 'Saas-Bahu',
 'Foody',
 'Children Magazine',
 '501',
 'OCEAN GLASS',
 'Mamas',
 "Wrigley's Stick pack",
 'Archies',
 'Tuborg',
 'Mannar',
 'Gillette Mach 3',
 'PINE-SOL',
 'Cerebos',
 'Cavins',
 'Royal Ramba',
 'Gagan',
 'Iraya',
 'U-Globe',
 'Sun Swad',
 'Kalnirnay',
 'Finesse',
 'Poonkodi',
 'Cornitos',
 'Tresemme',
 'Alpenliebe candy',
 'Dinesmart',
 'Param',
 'Wonderland',
 'Bengal',
 'Kwality Conf',
 'HOEGAARDEN',
 'Syros',
 'Tilda',
 'Toespring',
 'AGRIM',
 'Brooke Bond A1',
 'Onjus',
 'Playmate',
 'Sparkle',
 'Jagdamba',
 'Ganapathy',
 'SILVERFISH',
 'Premium Chandan',
 'AEROLINE',
 'Vaa',
 'Coorg',
 'Twiss',
 'SOYFRESH',
 'T-series',
 'Zen Tofu',
 'Horlicks',
 'Khara Sona',
 'Sting',
 'Joshi',
 'Nerf',
 'Mederma',
 'BOMBAY BITE',
 'Tenderils',
 'Chinkara',
 'Levista',
 'Amarula',
 'Muffets & Tuffets',
 'Chhokra',
 'Priya Biscuits',
 'Solemio',
 'Relispray',
 'Shikakai',
 'Red Lips',
 'Princy',
 'Inland Valley',
 'Glenands',
 'Ankoot',
 'Britannia Time Pass',
 'Perfetti Happy Dent bottle',
 'Idhayam',
 'Pakeeza',
 'ERIST OFF',
 'PRUTINA',
 'Kurkure',
 'Dhathri',
 'Mahasaver',
 'PRABHA FASHION',
 'BRITANNIA BOURBON',
 ' Hoppers & POPPERS',
 'Parachute Advanced Jasmine',
 'Premium',
 'Cadburys',
 'GATO NG',
 'Golden Bansi',
 'Mini klub',
 'Organic Tattva',
 'Recron',
 'Quaker',
 'SIDDHANT',
 'Parachute Advanced Men',
 'TGB',
 'Babool',
 'HEXA POWER',
 'Britannia Little Hearts',
 'Wonder Wings',
 'Red and White',
 'Celebration Diwali',
 'JAMESON IRISH',
 'GLENFIDICH',
 'HAPPY FACE',
 'Fa',
 'Herbal Essence',
 'Intex',
 'Nutties Gritties',
 'Dexina',
 'Kannikamba',
 'Stitch',
 'Sofy',
 'Evita',
 'Annapoorna',
 'Chandu',
 'Havells',
 'Sweta Electronics',
 'Guinea',
 'Hindalco',
 'Amulya',
 'LITL YRG',
 'Kanchana',
 'Daily Papad',
 'TMS',
 'Tata Life',
 'Aqualite',
 'Pooja Gallery',
 'Castello',
 'Ponds Age Miracle',
 'Jockey',
 'Genius',
 'Meena',
 'Easy Cook',
 'Sushma',
 'GO CHEESE',
 'Dev Namkeen',
 'Daadi Ki karahi',
 'Monopoly Marketing',
 'Dadiwala',
 "Maker's Mark",
 'Yoku',
 'GOLDEN BELL',
 "Teacher's 50",
 'COUNTTY',
 'Nirapara',
 'Shree Dwarka Rice',
 'Cremica',
 'Apetina',
 'SPARX',
 'Bru R&G',
 'Divya',
 'Malati Madras',
 'Tiffany',
 'Tanvi',
 'Dora',
 'Wrigleys Orbit',
 'JACK',
 'Granny Goose',
 'Mankind',
 'Gillette Vector',
 'Faultless',
 'Palm Raja',
 'PETER SCOT',
 'Rajasthani',
 'Red Tape',
 'LUHAA',
 'Sea Star',
 'Brewberry',
 'Rv',
 'DEFORT',
 'Super Vasmol',
 'Mcrennett',
 'Buzzbee',
 'MDC',
 'Loose egg',
 'Jamie',
 'JAY LINK',
 'Priya Sunflower Oil',
 'Charlie',
 'Nestle Polo',
 'Kanan Devan',
 'Taj Mahal',
 'ActiLife',
 'Bella Voste',
 'Kiwi',
 'Chekko',
 'Ferrero Rocher',
 'Sutter Home',
 'Kollis',
 'Europe',
 'Freixenet Cordon Negro',
 'Xena',
 'Fortune',
 'Boost',
 'Cutty sark',
 'Sandpiper',
 'Hit',
 'Loose batter',
 'Ajinomoto',
 'Rakshak',
 'Dalda',
 'Vina Tarapaca',
 'Aerofit',
 'Mamy Poko',
 'Milma',
 'Skippy',
 'Dairy Pure',
 'Doctor',
 'Cooking Choice',
 'Navjeevan',
 'AEROH',
 'diasafe',
 'Altius',
 'SILVER CUP',
 'POLYSET',
 'Shilpa',
 'Aladdin',
 'Britannia Good Day',
 'Stopache',
 'Soignon',
 'MTR',
 'ULTRA',
 'Oldelpaso',
 'Mogu Juice',
 'Banjaras',
 'More Fresh',
 'Kit Kat',
 'Sopan',
 'Moreish',
 'Remy Martin',
 'Pavizham',
 'Et-Mi',
 'Miltop',
 'Asahi',
 'PVT LAB',
 'Fujian',
 'VATSAL',
 'Pentas',
 ' Captain Q',
 'Sunfeast Special',
 'Mattel Games',
 'Coco Care',
 'ELLEEN',
 'RK TRADE',
 "Giani's",
 'Ambipur',
 'Mahakosh',
 'Parnami',
 'Zago',
 'Clix',
 'Laminate',
 'Grabbies',
 'Irich',
 'Tata Sampann',
 'Stay Cool',
 'Bingo',
 'Ceaars',
 'Yoli Yola',
 'HUNTER',
 'Transformers',
 'JK Green',
 'Thums Up',
 'Kinley',
 'Sonata',
 'APL',
 'More. Selecta',
 'Fair & Healthy',
 'M A B VIN DE',
 'Vin Clean',
 'Havoc',
 'Good Clean',
 'Colgate Super Flexi',
 'Bhikharam Chandmal',
 'Aanya',
 'Homex',
 'Druk',
 'Edge',
 'Star Publications',
 'Every Man',
 '361',
 'Delfi',
 'Thangams',
 'MZB',
 'Jai Kisan',
 'Flying Tiger',
 'Cocoraj',
 'Spencer',
 'Arita',
 'DIGNITY',
 'Sun',
 'Rajshree',
 'D Cold',
 'Palette',
 'ARTIS',
 'Gustora',
 'Choki Choki',
 'Mr. Black',
 'Prism Books Pvt. Ltd',
 'Pepsi',
 'Cure On',
 'Bachler Soup',
 'COBRA',
 'Indus',
 'Stuti Khakhara',
 'Al Amir',
 'Swadist',
 'Mix Vegetable',
 'Casanova',
 'Parijat Organics',
 'Monginis',
 'Chicco',
 'PREM RATNA TOYS',
 'Royal Dansk',
 'HIMALYA SIMPLOT',
 'Santana Tempranillo',
 'TOYZONE',
 'Figaro',
 'Wingreens',
 'Chalk',
 'Sugar Free',
 'Silkience',
 'UPPIPL',
 'Holdtite',
 'Uddhavs',
 'Kingfisher STORM',
 'Jadoo',
 'Loreal Natural',
 'Big Feet',
 'Saffa Buffalo',
 'DECO WINDOW',
 'Spyran',
 'Cibaca',
 'Papaya',
 'Pampers',
 'Kronenburg',
 'Wells',
 'LAPAR',
 'Foaran',
 'bangles',
 'Tai Sun',
 'nu mu',
 'Everyuth Men',
 'Bakers Fresh',
 'Astalaxmi',
 'Sms Namkeens',
 'Eros',
 'Angry Bird',
 'Premier Frozen',
 'Srinath',
 'Mace',
 'Thai Cheung',
 'Nakoda',
 'Feasters',
 'Yashoda',
 'Vanish',
 'Tropic Treats',
 'Garlynn',
 'Healthy choice',
 'Sri Krishna',
 'Gatorade',
 'Nestle Chocolate',
 'Biryaneez',
 'Bajaj Kailash Parbat',
 'Aramusk',
 'Fruitfil',
 'GO',
 'AXA',
 'Scrubeer',
 'Other Gourds',
 'Nutty',
 'Oxemberg',
 'Savour',
 ' ID',
 'Harpic',
 'Sky Pet',
 'Minute Maid Nimbu Fresh',
 'Khungars',
 'Boekenhoutskloof',
 'Man of the Year',
 'Sai Sudha',
 "Nature's treat",
 'Dabur Sarson Amla',
 'Texas',
 'Nambisan',
 'Dairymax',
 'Boss',
 'Model',
 'Crystal',
 'BTC',
 'Amar',
 'Gayatri puja dhup',
 'Diya',
 'Fresh Lime',
 'Olympic',
 'Glito',
 'SLVR',
 'Avani',
 'Toys Box',
 'Dhamayanthi',
 'Jacobs',
 'MCD SIGNATURE',
 'Mansion',
 'Kmr',
 'Anurag',
 'Dr.Scholl',
 'Natkhat',
 'Alfa',
 'Chateau Goumin',
 'Big Entertainment',
 'VISTA',
 'Biotique',
 'Canon',
 'Nandini',
 'Milkma',
 'Micromax',
 'Elastoplast',
 'Lucky',
 'MILAN',
 'Brinjal',
 'John Miller',
 'Dyna',
 'Greenzz',
 'Hudson',
 'Parle happy happy',
 'Streax Insta',
 'Bogart',
 'Dadhas',
 'Sresta',
 'Dairy Fresh',
 'Shemaroo Video',
 'POTS N PAN',
 'Bailley',
 'Stop Not',
 'Tobu',
 'Cadbury Eclairs',
 'ONLY KIDZ',
 'B Natural',
 'Similac',
 'SADDANA SUGAR CO',
 'Flair',
 'Akar',
 'Agropure',
 'GREENCHEF',
 'Pravin Pickle',
 'Melina',
 'Sunrich',
 'Nivea Men',
 'Tea Valley',
 'Cosco',
 'Leo',
 'Super',
 'Jolly Rancher',
 'Colgate SVS',
 'Lion',
 'Pink',
 'Mr Clean',
 'Vias',
 'Dutch',
 'Parking Coupon Redemption',
 'MBR',
 'Parksons',
 'Fresca',
 'Shri Spices',
 'Marco Ferro',
 'Sabeena',
 'Guliyan',
 'So Good',
 'Anne french',
 'Coca-Cola',
 'Margo',
 'Disney',
 'Marsh Mallow',
 'Pondicherry',
 'Cigar',
 'Old Port Export',
 'Ramdev',
 'Cello',
 'Palam',
 'Nestle Kit Kat',
 'Saffola Masala Oats',
 'Goana',
 'Cambridge',
 'J.B.MANUFACTUIRNG CO.',
 'PLING',
 'Nestum',
 'PSD',
 'Mediker',
 'NEDERBURG',
 'Green Bite',
 'LEFFE',
 'Colour Me',
 'Licious',
 'Parle Milk Shakti',
 'Super Cassettes Industries Ltd',
 'Roots',
 'VAJRAA IMPEX',
 'Pegasus',
 'REJOICE KOOL',
 'G AND D',
 'Apple',
 'Duke',
 'Emami',
 'Transcend',
 'Uttam',
 'J AND B',
 'Ring Guard',
 'Annamaiah',
 'Nijanad',
 'Colgate Cibaca',
 'Tequila Don Alejandro',
 'Telegu',
 'Kamakshi',
 'Parachute Advansed Ayurvedic',
 'Triones',
 'PARAMDAKSHA',
 'Safed',
 'Soulfull',
 'Insignia',
 'Alayam',
 'Smith and Jones',
 'Value',
 'Faima Di Wills Men',
 'Daily Bread',
 'BPI India',
 'Fena',
 'Filmi Shakkar',
 'Capri-Sun',
 'Lounge',
 'Enliven',
 'THE AFRICAN HORIZON',
 'Sattviko',
 'Pedigree',
 'Revlon',
 'Chetana',
 'Pierre Cardin',
 'Shree Rakhi',
 'Farmella',
 'WHITE GOLD',
 'World Cup',
 'LANCERS',
 'Madhur',
 'D-Link',
 'DOMS',
 'Stretchnil',
 'Kitty',
 'Musst Chips',
 'Stute',
 'OLD ADMIRAL',
 'In Blue',
 'Tify',
 'Becter Shield',
 'Parle Marie',
 'VAT 69',
 'Godrej Hersheys',
 'Chudi',
 'ORGANA',
 'Flamingo',
 'Classic Imports',
 'Glory',
 'Paree',
 'Adithya',
 'DYE',
 'Nima',
 'Khadi',
 'Tirumala',
 'Jet',
 'SPAWAKE',
 'Virinchi',
 'Bliss Tofu',
 'Aadhaar',
 'Champion',
 'Joyfull',
 'Oraheal Mouth',
 'Parivar',
 'CHANDON BRUT ROSE',
 'Lays Maxx',
 'Palada',
 'Grissol',
 'Devaaya',
 'Entertainment Magazine',
 'Nature Care',
 'Fancy Fabrics',
 'Borsin',
 'Axe Gold',
 'Ensure',
 'POP',
 'Parrys',
 'Vsr',
 'Kissan',
 'Ayam',
 'Twinings',
 'Peter england',
 'Rasoi Magic',
 'Illy',
 'M Seal',
 'MY',
 'Lotto',
 'Senu',
 'Parle Fab Jam In',
 '100 PIPERS',
 'Golden wheat',
 'SOULFLOWER',
 'ZEBRONICS',
 'TRAPHICHE',
 'Palmo',
 'Mitashi',
 'Million Words Media',
 'MILKYBAR CHOO',
 'Guozimei',
 'MMCH',
 'Utility',
 '3 Roses Mind Sharp',
 'MSD',
 'Heidi',
 'Big Babol',
 'Torquel',
 'Garden',
 'Maxi',
 'Nestle Selections',
 'KDD',
 'Uniross',
 'Planters',
 'Vittle',
 'Nature Valley',
 'Besto Ice Cream',
 'Tiger Brite',
 'Overdrive',
 'LOONEY TUNES',
 'Kitchens Treasure',
 '3M',
 'Kapol',
 'Americas Best Canistar',
 'Nature Pure',
 'Tata Agni',
 'Act II',
 'Gaga',
 'I-Gen Cigarette',
 'COLLONIL',
 'Ambadi',
 'Stree Sakhi',
 'KVK',
 'Nutralite',
 'Rexona',
 'Suraksha',
 'YO',
 'Bayars',
 'Enchanteur',
 'Appleware',
 'Dabur Special',
 'Sharda',
 'Savi',
 'Astra',
 'Red Label Special',
 'SLUBAN',
 'BONJOUR',
 'Jb',
 'Parijat',
 'All Time',
 ...]

In [23]:
unique_brand_name_df_1=pd.DataFrame(unique_manufacturer_names_list)

In [24]:
unique_brand_name_df_1

                         0
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [26]:
unique_brand_name_df_1 = unique_brand_name_df_1.rename(columns={'NAME OF COMPANY':'brand_names'})

In [27]:
unique_brand_name_df_1

                         0
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [28]:
df_unique_1=pd.DataFrame(unique_brand_name_df_1)

In [29]:
df_unique_1

                         0
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [30]:
df_unique_1 = df_unique_1.rename(columns={0:'Brand_Names'})

In [31]:
df_unique_1

               Brand_Names
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [32]:
def highlight_cells(val):
    color = 'yellow' if  val=='110%' else ''
    return 'background-color: {}'.format(color)

df_unique_1.style.applymap(highlight_cells)

In [33]:
df_one=df_unique_1

In [34]:
df_two=NSE_unique_df

In [35]:
def highlight_cells(val):
    color = 'yellow' if  val=='20 Microns Limited' else ''
    return 'background-color: {}'.format(color)

NSE_unique_df.style.applymap(highlight_cells)

In [36]:
df_one

               Brand_Names
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [37]:
df_two

                         NAME OF COMPANY
0              Medicamen Biotech Limited
1                  Rane Holdings Limited
2             Renaissance Global Limited
3             Poonawalla Fincorp Limited
4              HBL Power Systems Limited
...                                  ...
1875  Dhruv Consultancy Services Limited
1876      R. S. Software (India) Limited
1877     Servotech Power Systems Limited
1878         Welspun Enterprises Limited
1879               Liberty Shoes Limited

[1880 rows x 1 columns]

In [38]:
 import fuzzymatcher

# Initialize the FuzzyMatcher
matcher = fuzzymatcher()

# Perform the match between the two DataFrames
result = matcher.match(df_one, df_two, left_on='Brand_Names', right_on='NAME OF COMPANY')

# Extract the matching results
match_list = result.matches

TypeError: 'module' object is not callable

In [70]:
from fuzzymatcher import match
import pandas as pd

# Load the two datasets
df1 = df_one
df2 = df_two

# Initialize the fuzzymatcher
match = match(df1, df2)

# Compare the two datasets
results = match.match(threshold=50, score_cutoff=50)

# Add a score column to the results
results.record_score()

# Save the results to a CSV file
results.write_csv('matches.csv')

# Write the results to a new DataFrame
df_match = pd.DataFrame(results)

ImportError: cannot import name 'match' from 'fuzzymatcher' (C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\fuzzymatcher\__init__.py)

In [39]:
import pandas as pd
from fuzzymatcher import Match

# Load the two DataFrames
df1 = df_one
df2 = df_two

# Initialize the fuzzymatcher
match = Match(df1, df2, on=['NAME OF COMPANY', 'Brand_Names']
              )

# Compare the two DataFrames
results = match.fuzzy_left_join(threshold=80, score_cutoff=70)

# Add a score column to the results
results.record_score()

ImportError: cannot import name 'Match' from 'fuzzymatcher' (C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\fuzzymatcher\__init__.py)

In [ ]:
left_on = ['Brand_Names']

right_on = ['NAME OF COMPANY']
    
matched_results = fuzzymatcher.fuzzy_left_join(df_one,
                                            df_two,
                                            left_on,
                                            right_on,
                                            left_id_col='Brand_Names',
                                            right_id_col='NAME OF COMPANY')    
    
    
    
    
    
    
    
    
cols = [
    "best_match_score", "Brand_Names", "NAME OF COMPANY"
]

df_brand_names_name_comapny=matched_results[cols].sort_values(by=['best_match_score'], ascending=False)

In [41]:
Brand_names=matched_results[cols]

In [42]:
df_brand_names_name_company=df_brand_names_name_comapny.reset_index()

In [43]:
import pandas as pd
file_name = 'FuzzyMatch Brand company.xlsx'
  
# saving the excel
df_brand_names_name_comapny.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [44]:
df_brand_names_name_comapny

,best_match_score,Brand_Names,NAME OF COMPANY
7079,0.445361,CAMLIN KOKUYO,Kokuyo Camlin Limited
10111,0.366361,Butterfly Appliances,Butterfly Gandhimathi Appliances Limited
2920,0.357024,V Guard,V-Guard Industries Limited
7001,0.350456,Wipro,Wipro Limited
833,0.346292,Archies,Archies Limited
...,...,...,...
12337,NaN,Picnic,NaN
12342,NaN,Dijon,NaN
12343,NaN,KPN,NaN
12344,NaN,Sunfeast Milky Magic,NaN
12346,NaN,Cantharidine,NaN

In [45]:
df_brand_names_name_company.drop(['index'],inplace=True,axis=1)

In [46]:
df_brand_names_name_company

,best_match_score,Brand_Names,NAME OF COMPANY
0,0.445361,CAMLIN KOKUYO,Kokuyo Camlin Limited
1,0.366361,Butterfly Appliances,Butterfly Gandhimathi Appliances Limited
2,0.357024,V Guard,V-Guard Industries Limited
3,0.350456,Wipro,Wipro Limited
4,0.346292,Archies,Archies Limited
...,...,...,...
5403,NaN,Picnic,NaN
5404,NaN,Dijon,NaN
5405,NaN,KPN,NaN
5406,NaN,Sunfeast Milky Magic,NaN
5407,NaN,Cantharidine,NaN

In [47]:
import pandas as pd
file_name = 'FuzzyMatch Brand name company.xlsx'
  
# saving the excel
df_brand_names_name_company.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# DONE

In [48]:
NSE_symbol_data=NSE['SYMBOL']
NSE_symbol_data
fd=NSE_symbol_data.to_list()
#Your list of brand names
manufacturer_names = fd

# Create a set from the list to remove duplicates
unique_manufacturer_names = set(manufacturer_names)

# Convert the set back to a list if you need to
unique_manufacturer_names_list = list(unique_manufacturer_names)

#print(unique_manufacturer_names_list)  # Output: ['Brand A', 'Brand B', 'Brand C
df_fd=pd.DataFrame(unique_manufacturer_names_list)
df_fd = df_fd.rename(columns={0:'SYMBOL'})
df_fd

          SYMBOL
0            BIL
1     CHAMBLFERT
2       JKCEMENT
3      ORIENTPPR
4           GLFL
...          ...
1879       GICRE
1880     VIVIDHA
1881      GMBREW
1882   BORORENEW
1883  ALEMBICLTD

[1884 rows x 1 columns]

In [49]:
df_one

               Brand_Names
0                     Hugo
1                 Phillips
2                 Doraemon
3        British Nutrition
4                      YLG
...                    ...
5403                   KPN
5404  Sunfeast Milky Magic
5405   Dabur Chyavanparash
5406          Cantharidine
5407                 Shree

[5408 rows x 1 columns]

In [50]:
left_on = ['Brand_Names']

right_on = ['SYMBOL']
    
matched_results = fuzzymatcher.fuzzy_left_join(df_one,
                                            df_fd,
                                            left_on,
                                            right_on,
                                            left_id_col='Brand_Names',
                                            right_id_col='SYMBOL')    
    
    
    
    
    
    
    
    
cols = [
    "best_match_score", "Brand_Names", "SYMBOL"
]

new_df_brand_names_symbol=matched_results[cols].sort_values(by=['best_match_score'], ascending=False)

In [51]:
new_df_brand_names_symbol_1=new_df_brand_names_symbol.reset_index()

In [52]:
new_df_brand_names_symbol_1.drop(['index'],inplace=True,axis=1)

In [53]:
new_df_brand_names_symbol_1

      best_match_score           Brand_Names     SYMBOL
0             0.332007               Archies    ARCHIES
1             0.332007               Revathi    REVATHI
2             0.332007                Magnum     MAGNUM
3             0.332007               Premier    PREMIER
4             0.332007             Maxhealth  MAXHEALTH
...                ...                   ...        ...
5403               NaN                 Dijon        NaN
5404               NaN                   KPN        NaN
5405               NaN  Sunfeast Milky Magic        NaN
5406               NaN          Cantharidine        NaN
5407               NaN                 Shree        NaN

[5408 rows x 3 columns]

In [54]:
import pandas as pd
file_name = 'FuzzyMatch Brand name SYMBOL.xlsx'
  
# saving the excel
new_df_brand_names_symbol_1.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# DONE

In [55]:
df_M_one=df['manufacturer_name']

In [56]:
U=df_M_one.to_list()

In [57]:
U

['Amber Home',
 'Concept Home Textiles',
 'Abrl- PL',
 'Own Brands',
 'e',
 'Private Label',
 'Gora Mal Hari Ram Ltd.',
 'Parle Biscuits Pvt Ltd',
 'UNITED BISCUITS PRIVATE LTD',
 'Mondelez India Foods Limited',
 'Others',
 'Britannia Industries Ltd',
 'Royal Importer',
 'Pepsico India Holdings-Beverages Div',
 'Savorit Limited',
 'ITC Limited',
 'ITC Limited',
 'Agrotech Foods Ltd',
 'Agrotech Foods Ltd',
 'Agro Tech Foods Ltd.',
 'Beauty Impex Pvt Ltd',
 'Adidas India Marketing Pvt Ltd',
 'Unbranded',
 'Renfro India Pvt. Ltd.-SOR',
 'Ys merchandise',
 'Cavincare India Pvt Ltd',
 'Reckitt Benckiser India Limited',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'Hindustan Unilever Limited',
 'MAHAVIR ENTERPRISES',
 'Al-Kabeer Exports Pvt Ltd',
 'Unbranded',
 'Tree Of Life Pvt Ltd',
 'PERFETTI VAN MELLE INDIA PVT LTD',
 'Amber Textile',
 'Liberty Oil Mills Ltd.',
 'Amber Home',
 'P&G Ltd',
 'American Garden Products',
 'Bajoria Foods Private Limited',
 'SSD Foods And Paper Pvt Ltd',
 'GCMMF',
 'GCMMF',
 'GUJARAT CO OPERATIVE MILK MARKETING FEDERATION LTD',
 'GCMMF',
 'GCMMF LTD',
 'Amul',
 'ANIK MILK PRODUCTS PRIVATE LIMITED',
 'Anmol Industries Limited',
 'Anmol Toys Private Ltd',
 'Sree Rama Paraboiled Rice Mill',
 'ANMOL INNOVATIVE ELECTRICAL PVT',
 'Anmol',
 'Anmol Biscuits Ltd.',
 'Wyeth Consumercare Pvt Ltd',
 'Competent Enterprises',
 'Parle Agro Ltd',
 'Pepsico India Holdings-Beverages Div',
 'Procter & Gamble India',
 'P&G Ltd',
 'Pegases Importer',
 'Asian Plastowares Pvt Ltd',
 'Asian Cosmos Pvt. Ltd.',
 'Win Medicare Private Limited (Cosmetics Division)',
 'Hindustan Unilever Limited',
 'Colgate Palmolive India Ltd',
 'Ayur Herbal Pvt Ltd',
 'RDM Care India Pvt Ltd',
 'Dabur India Ltd',
 'Jhaveri Industries',
 'Bagrrys India Ltd',
 'UNITED SPIRITS LTD',
 'Parle Agro Ltd',
 'Bajaj Electricals Ltd',
 'Bajaj Electricals Ltd',
 'Bajaj Consumer Care',
 'Bajaj corp Ltd.',
 'Bajaj Consumer Care Limited',
 'Bajaj Electricals Ltd',
 'Max Foods',
 'Bambino Agro Industries Ltd.',
 'Johnson & Johnson Ltd',
 'Mitashi Edutainment Pvt.Ltd',
 'Nestle India Limited',
 'Gr Fragrances',
 'S C Johnson Products Pvt Ltd',
 'Beeta Machines Pvt Ltd',
 'Cottage Industries',
 'Private Label',
 'Own Brands',
 'Own Brands',
 'Abrl- PL',
 'Cottage Industries',
 'General Mills (I) P Ltd',
 'General Mills India Pvt Ltd',
 'St Dalfour',
 'Bhappe Di Hatti',
 'Bhikharam Chandmal  Pvt Ltd',
 'PERFETTI VAN MELLE INDIA PVT LTD',
 'Reliable Corporation',
 'Big Chef',
 'Shivdeep Food Products (P) Ltd.',
 'Bikaji Food Products',
 'Bikanervala foods Pvt Ltd',
 'National Chikkis',
 'Bikano',
 'ITC Limited',
 'ITC Limited',
 'Bisleri International Pvt. Ltd',
 'Unbranded',
 'Unbranded',
 'Juneja Global',
 'Alfa Knitting Inc.',
 'Blue Bird Foods India Pvt Ltd',
 'United Trading Corporation',
 "Wrigley'S India Pvt. Ltd",
 'GlaxoSmithKline Consumer Healthcare India',
 'Emami Ltd.',
 'Emami Ltd',
 'Renuka Trading Company',
 'Mars International India Pvt Ltd-Confectionery',
 'Mondelez India Foods Limited',
 'Dreamland Publications',
 'BPI India Pvt Ltd.',
 'Linc Pens and Plastics Ltd.',
 'Mainetti',
 'Reckitt Benckiser India Limited',
 'Hindustan Unilever Limited',
 'Jyothy Laboratories Ltd',
 'Jyothy Consumer Products Marketing Ltd',
 'Britannia Industries Ltd',
 'Britannia New Zealand Holdings Pvt Ltd',
 'Britannia Industries Ltd',
 'BDPL',
 'Britannia Dairy Private Limited',
 'Britannia Dairy Private Limited',
 'Hindustan Unilever Limited',
 'Sweetyet Development Distribution India Pvt Ltd',
 'United Distributors',
 'Godrej Consumer Products Ltd',
 'Hindustan Unilever Limited',
 'Mondelez India Foods Limited',
 'Mondelez India Foods Limited',
 'NOVARTIS',
 'Julien Deo',
 'Tradelinks International Ltd',
 'UNIVERSAL CORPORATION',
 'Kokuyo Camlin Ltd',
 'Pidilite Industries Ltd',
 'Camlin Ltd',
 'Suresh Kumar And Company (Impex) Pvt Ltd',
 'Candico (I)  Ltd',
 'ITC Limited',
 'Anjana Agri Foods',
 'M P Food Products',
 'Johnson & Johnson Ltd',
 'Crystal Cutlery',
 'Godrej And Boyce Mfg Co Ltd',
 'Godrej & Boyce Mfg Co Ltd',
 'Unbranded',
 'S. Narendra Kumar',
 'DS Group',
 'Dharampal Satyapal Ltd',
 'Cello Indst',
 'Cello International Pvt. Ltd',
 'V D Enterprises',
 'Unbranded',
 'Wim Plast Limited',
 'Cello Pens Pvt Ltd',
 'Cello Houseware',
 'Nestle India Limited',
 'Pravin General Store',
 'Champion',
 'Vidya Nandram Gigraj Chamria',
 'Chamria Ayurvedic Pharmacy Private Limited',
 'Wipro Consumer Care',
 'Win Medicare Private Limited (Cosmetics Division)',
 'Jay Chikki & Snacks Pvt Ltd',
 'Kohinoor Foods Ltd',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'Reckitt Benckiser India Limited',
 'Cavincare India Pvt Ltd',
 'Pidilite Industries Ltd',
 'Chikkers',
 'Chintamani Foods And Snacks Pvt Ltd',
 'Colgate Palmolive India Ltd',
 'Elan Ventures',
 'Godrej Consumer Products Ltd',
 'Wipro Consumer Care',
 'Classic Distributors',
 'Classic Industries',
 'Sinhal Metal Pvt Limited',
 'Classic Themes',
 'Others',
 'Classic Toothbrushes Pvt Ltd',
 'Bathla Trading',
 'ITC Limited',
 'Karma Solutions',
 'Classic',
 'ITC Ltd - EPSB',
 'Unbranded',
 'KVG Traders',
 'Hindustan Pencils',
 'Linc Pens and Plastics Ltd.',
 'Kokuyo Camlin Ltd',
 'Johnson & Johnson Ltd',
 'S R Foils And Tissue Ltd',
 'Reckitt Benckiser India Limited',
 'Hindustan Unilever Limited',
 'Hindustan Unilever Limited',
 'Hindustan Unilever Ltd',
 'Hindustan Unilever Limited',
 'PERFETTI VAN MELLE INDIA PVT LTD',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Manisha International Pvt Ltd',
 'Colgate Palmolive India Ltd',
 'Colgate Palmolive India Ltd',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'Reckitt Benckiser India Limited',
 'Loreal India Private Limited',
 'Godrej Consumer Products Ltd',
 'Hindustan Unilever Limited',
 'Esquire Multiplast',
 'Heinz India Ltd',
 'Cream Bell Ice-Cream',
 'Devyani Food Industries Limited',
 'GRFragrances (India) Pvt Ltd',
 'Mrs. Bectors Foods Specialities Ltd',
 'Unbranded',
 'Crown Soya Products',
 'Super Plastronics Private Limited',
 'Others',
 'Fackelmann Inda Kitchenware Pvt Ltd',
 'Crystal International',
 'Chrystal Cutlery',
 'Chrystal Cutlery',
 'Unbranded',
 'Shree Traders',
 'Houseware Distribution Network',
 'Crystal Cutlery',
 'Agrotech Foods Ltd',
 'Rangsons Mktg',
 'Rangsons Mktg',
 'Dabur India Ltd',
 'Hindustan Unilever Limited',
 'Dabur India Ltd',
 'Dabur India Ltd',
 'Bunge India Pvt Ltd',
 'Aditya Enterprises',
 'Dilmun',
 'Dana',
 'Suresh Kumar And Company (Impex) Pvt Ltd',
 'Mondelez India Foods Limited',
 'Dabur India Ltd',
 'Ravi Foods Pvt. Ltd.',
 'Mkp Distributors',
 'Reckitt Benckiser India Limited',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'Reckitt Benckiser India Limited -Health',
 'Mother Dairy Fruits & Vegetable Pvt Ltd',
 'Pepsico India Holdings-Beverages Div',
 'General Mills (I) P Ltd',
 'General Mills India Pvt Ltd',
 'Unbranded',
 'Hindustan Unilever Limited',
 'KRBL Ltd',
 'Unbranded',
 'Hindustan Unilever Limited',
 'Hindustan Unilever Ltd',
 'Synergy Marketing',
 'Dreamland Publications',
 'Pepsico India Holdings-Beverages Div',
 'Ravi Foods Pvt. Ltd.',
 'Duncans Tea Ltd',
 'Procter & Gamble India',
 'Universal Corporation Limited',
 'P&G Ltd',
 'Reckitt Benckiser India Limited',
 'Mkp Distributors',
 'Reckitt Benckiser India Limited -Health',
 'Easy Life Herbs and Seasonings',
 'Easy Life',
 'Ecoglo By Jolly',
 'Status Enterprises',
 'Elephant Dates',
 'St Dalfour',
 'Atalmal Harchandmal & sons',
 'Elephant',
 'Loreal India Private Limited',
 'Universal Studios',
 'Emami Ltd.',
 'Emami Biotech Ltd',
 'Shree Hari Industries',
 'Suman Proteins Pvt Ltd',
 'GlaxoSmithKline Consumer Healthcare India',
 'Private Label',
 'Own Brands',
 'e',
 'Merisant India Pvt Ltd',
 'JL Morison',
 'P&G Ltd',
 'Equity',
 'Equity Appliances Ltd',
 'Godrej Consumer Products Ltd',
 'Eros Multimedia',
 'Windmill Creations',
 'Seven Star Agency',
 'Indian Fine Beauty Care',
 'Eveready Industries India Ltd.',
 'Unbranded',
 'Eveready Industries India Ltd.',
 'Eveready Industries Ltd',
 'S.NARENDRAKUMAR & CO',
 'Others',
 'Everest',
 'Pepsico India Holdings-Beverages Div',
 'Nestle India Limited',
 'Arvind Trading Company',
 'Zydus Cadilla Consumer Div Ltd',
 'Zydus Wellness Ltd',
 'Godrej Consumer Products Ltd',
 'RSG CONSUMERS',
 'Saregama India Limited',
 'Godrej Consumer Products Ltd',
 'Alka Enterprises',
 'Alka Enterprises',
 'Pegases Importer',
 'ATC Beverages',
 'Shree Tech Plastics',
 'FNS International',
 'Jyothy Laboratories Ltd',
 'Jyothy Consumer Products Marketing Ltd',
 'Emami Ltd.',
 'HUL',
 'Hindustan Unilever Limited',
 'Hindustan Unilever Ltd',
 'Elder Pharma',
 'Cavincare India Pvt Ltd',
 'Godrej Consumer Products Ltd',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Unbranded',
 'e',
 'Rainman Umbrellas',
 'Own Brands',
 'Abrl- PL',
 'Unbranded',
 'Abrl- PL',
 'Own Brands',
 'Private Label',
 'e',
 'Dabur India Ltd',
 'Mirasu Marketing Ltd',
 'Fena Pvt Ltd',
 'Ferrero India Ltd.',
 'Mars International India Pvt Ltd-Confectionery',
 'Pidilite Industries Ltd',
 'Pidilite Industries Ltd',
 'Others',
 'ITC Limited',
 'ITC Limited',
 'DEOLEO INDIA PVT LIMITED',
 'Pegases Importer',
 'Consumer Marketing India Pvt Ltd',
 'St Dalfour',
 'Garden Flavours Co Pvt Ltd',
 'Footguard India Ltd',
 'Foot Guards (India) Pvt Ltd',
 'Deco Pride (India) Pvt Ltd',
 'Baljit Agrotech Ltd :Kharagpur',
 'Baljit Agrotech Ltd :Kharagpur',
 'Adani Wilmar Ltd',
 'ABRL',
 'Manisha International Pvt Ltd',
 'Fragata Olives',
 'Surya Food & Agro Ltd',
 'Own Brands',
 'Private Label',
 'Tainwala Personal Care Pvt Ltd',
 'Hindalco Ltd',
 'Parle Agro Ltd',
 'Loreal India Private Limited',
 'Fruitfill India Ltd',
 'Navneet Publications (India) Ltd',
 'Dr. Oetkar India Pvt Ltd',
 'Fun Foods Pvt Limited',
 'Bajoria Foods Private Limited',
 'Amrit Banaspati Company Limited',
 'Amrit Food',
 'Al-Kabeer Exports Pvt Ltd',
 'Padam International',
 'Unbranded',
 'Gala Plastic Ind. Pvt. Ltd.',
 'Quick Cleen',
 'Freudenberg Gala Household Product Private Ltd',
 'Swastik Housewares',
 'Gala Sons',
 'Nowrangroy Agro Private Limited',
 'Ganesh Grains Limited.',
 'Ganesh Industries',
 'Interlude Technologies',
 'LOreal India Pvt. Ltd.',
 'Loreal India Private Limited',
 'Pepsico India Holdings-Beverages Div',
 'YIWU COMMERCE FOREIGNTRADIANG CO.LTD',
 'GEBI Products',
 'KVG Traders',
 'Mondelez India Foods Limited',
 'Unbranded',
 'Godrej Consumer Products Ltd',
 'Own Brands',
 'P&G Ltd',
 'Wockhardt Ltd',
 'Gillette India Limited',
 'Gits Food Products Pvt Ltd',
 'Ructs N Glaccay India',
 'Unbranded',
 'S C Johnson Products Pvt Ltd',
 'SC Johnson Products Pvt Ltd',
 'Radiohms Agencies Limited',
 'Unbranded',
 'Heinz India Ltd',
 'PRECISION MOULDS AND DIES PVT.LTD.',
 'Interlude Technologies',
 'Gluman',
 'Godrej & Boyce Mfg Co Ltd',
 'Godrej Tyson Foods Ltd',
 'Godrej And Boyce Mfg Co Ltd',
 'Unbranded',
 'Godrej',
 'Hershey India Private Limited',
 'Godrej Consumer Products Ltd',
 'Godrej Consumer Products Ltd',
 'ITC Limited',
 'Golden Bakery',
 'Bush Foods Overseas Pvt Ltd',
 'Britannia Industries Ltd',
 'Avesta Good Earth Foods Pvt. Ltd.',
 'JMD Oils',
 'Godrej Consumer Products Ltd',
 'Pudumjee Tissue & Hygiene',
 'Gurujee',
 'Unbranded',
 'Guruji Beverages',
 'Guruji Enterprises Pvt Ltd.',
 'Marico Industries Ltd',
 'Dabur India Ltd',
 'Haldiram Nagpur',
 'Haldiram Prabhuji',
 'Haldiram North',
 'MIRASU MARKETING LTD',
 'Haldiram Bhujiawala Ltd',
 'Haldirams Foods India Ltd',
 'Haldiram Manufacturing Co.Pvt.Ltd.-North',
 'Haldirams Foods India Ltd-South & West',
 'Colgate Palmolive India Ltd',
 'Hindustan Unilever Limited',
 'Happy Cow Creamery',
 'Jainco (India) Exports Pvt Ltd',
 'PERFETTI VAN MELLE INDIA PVT LTD',
 'Zest Gartex Ltd',
 'Hari Darshan Pvt Ltd',
 'Rising Sun Aromas & Spirituals Pvt Limited',
 'Reckitt Benckiser India Limited',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'Harsh Pet',
 'Harvest Gold Industries',
 'Footguard India Ltd',
 'P&G Ltd',
 'UNIVERSAL CORPORATION',
 'Heinz India Ltd',
 'Jyothy Laboratories Ltd',
 'Jyothy Consumer Products Marketing Ltd',
 'Heritage Foods India Limited',
 'Sapphire Houseware',
 'HERITAGE WINERY',
 'Three Rings Imports',
 'Aditya Enterprises',
 'Hershey India Private Limited',
 'Parle Biscuits Pvt Ltd',
 'The Himalaya Drug Co- Zindel',
 'Pepsico India Holdings-Beverages Div',
 'The Himalaya Drug Company-CPD',
 'The Himalaya Drug Co- Zindel-Baby',
 'Himalay International Limited',
 'Nivea India Pvt Ltd',
 'The Himalaya Drug Company-Animal Health Division',
 'The Himalaya Drug Co',
 'Himalaya Ayurvedic Ltd',
 'Himalaya Drug Co- Zindel',
 'Godrej Consumer Products Ltd',
 'S R Foils And Tissue Ltd',
 'Home Foil',
 'Ozark Marketing Pvt Ltd',
 'ITC Limited',
 'GlaxoSmithKline Consumer Healthcare India',
 'Glaxosmithkline Ltd',
 'GlaxoSmithKline Consumer Healthcare India',
 'Kimberly Clark India Private Limited',
 'Hindustan Unilever Limited',
 'Krbl India',
 'KRBL Ltd',
 'Bush Foods Overseas Pvt Ltd',
 'Cavincare India Pvt Ltd',
 'BHARAT FOODS',
 'Unbranded',
 'GlaxoSmithKline Consumer Healthcare India',
 'Jabsons Foods',
 'Jagdamba cutlery',
 'Jagdamba Exports',
 'Variety Foods',
 'Godrej Consumer Products Ltd',
 'Pooja Thermoware',
 'Johnson & Johnson Ltd',
 'Kundan Care Products Ltd',
 'Beauty Impex Pvt Ltd',
 'Cavincare India Pvt Ltd',
 'Hershey India Private Limited',
 'J.K.Ansell',
 'Jk Ansel',
 'Future Consumer Enterprises ltd',
 'Birla Cellulosic',
 'Sarvodaya Sales',
 'Kara Products',
 'Tajir Pvt ltd',
 'Supreme Design',
 'Genius Leathercraft Pvt Ltd',
 'Mattel',
 'Ramson Industry',
 'Ayush Toys Marketing PvtLtd',
 'My Baby Excels',
 'Johns Umbrella Mart Alleppey',
 'Unbranded',
 'Classic Themes',
 'Karma Solutions',
 'KELLOGG INDIA PRIVATE LIMITED',
 'Kelloggs India Pvt. Ltd',
 'Tirumala Enterprises',
 'St Dalfour',
 "Dey'S Medical Stores Ltd.",
 'Deys Medical Store Pvt Ltd',
 'Own Brands',
 'Private Label',
 'Dev Blenders/ Southwest Trading Co.',
 'Khadi Natural Healthcare (New Delhi)',
 'Good Food Agro Ventures Pvt Ltd',
 'Khoob Khao',
 'Suresh Kumar And Company (Impex) Pvt Ltd',
 'Kikkoman',
 'Tree Of Life Pvt Ltd',
 'Trimurtis',
 'Mass Impex',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Unbranded',
 'Hindustan Unilever Limited',
 'Nestle India Limited',
 'Pearl Foods',
 'ITC Limited',
 'ABRL',
 'Private Label',
 'ABRL',
 'Own Brands',
 'e',
 'Own Brands',
 'Abrl- PL',
 'S C Johnson Products Pvt Ltd',
 'Unbranded',
 'Weikfield Foods Pvt Ltd',
 'Hindustan Unilever Limited',
 'Reckitt Benckiser India Limited',
 'Kohinoor Foods Ltd',
 'Hindustan Unilever Limited',
 'Tainwala Personal Care Pvt Ltd',
 'Reckitt Benckiser India Limited -Health',
 'Vighnesh Tradelinks',
 'Cadbury India Ltd',
 'Tree Of Life Pvt Ltd',
 'K R ENTERPRISES',
 'Sanjay Stainless Steel Works',
 'St Dalfour',
 'Kraft Food Products',
 'Parle Biscuits Pvt Ltd',
 'Pepsico Ind Holdings P Ltd- Fl',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'KULDEEP IMPEX PVT LTD',
 'G M Modular Pvt.Ltd.',
 'Unbranded',
 'Minerva Merchandising Company Pvt. Ltd.',
 'KVG Traders',
 'KVG Traders',
 'Multi Dye Chem',
 'Hindustan Unilever Limited',
 'Nestle India Limited',
 'Hindustan Unilever Limited',
 'Hindustan Unilever Limited',
 'Amar Singh Chawal Wala',
 'SSD Foods And Paper Pvt Ltd',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'Pepsico Ind Holdings P Ltd- Fl',
 'Little Bee industries',
 'Pepsico India Holdings-Beverages Div',
 'RSGV Impex Private Limited',
 'Pepsico India Holdings Pvt Ltd-Fritolay Division',
 'Pepsico India Holdings-Beverages Div',
 'Hindustan Unilever Limited',
 'Shri Mahila Gram Udyog',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Hindustan Unilever Limited',
 'Pepsico India Holdings-Beverages Div',
 'Hindustan Unilever Limited',
 'Litchica International',
 'Britannia Industries Ltd',
 'Unbranded',
 "Little'S (India)",
 'Littles India',
 'Piramal Healthcare',
 'Dhananjai Apparels',
 'Radiohms Agencies Ltd - SOR',
 'Marico Industries Ltd',
 'Paras Pharmaceuticals Ltd',
 'Reckitt Benckiser India Limited',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'SHRI RAJ PRABHU TRADERS',
 'Unbranded',
 'Mittal Sports',
 'Yogi Products',
 'Mkp Distributors',
 'Elan Ventures',
 'Kamlesh Marketing',
 'Lotte India Corporation',
 'Midas Care',
 'Hindustan Unilever Limited',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Unbranded',
 'Shree Renuka Sugars Ltd',
 'Madhur Industries',
 'Nestle India Ltd',
 'Nestle India Limited',
 'Unbranded',
 'Malas Fruit Products',
 'Mama Maria',
 'Thai President Foods Company Ltd',
 'Capital Foods Limited',
 'ITC Limited',
 'ITC Limited',
 'Manpasand Beverages Ltd',
 'A-One Products',
 'Reckitt Benckiser India Limited',
 'THILAKNAGAR INDUSTRIES',
 'Maped India Stationery Pvt Ltd',
 'Unbranded',
 'Mapro Foods Pvt Ltd',
 'Mapro Foods',
 'Jyothy Laboratories Ltd',
 'Jyothy Consumer Products Marketing Ltd',
 'Britannia Industries Ltd',
 'Mars International India Pvt Ltd-Confectionery',
 'Priya Fashion',
 'UNITED BISCUITS PRIVATE LTD',
 'P&G Ltd',
 'Mahashian Di Hatti Ltd',
 'Marico Industries Ltd',
 'Dorcas Market Makers Pvt Limited',
 'Cholayil Pvt Ltd',
 'AVA Products & Services',
 'PERFETTI VAN MELLE INDIA PVT LTD',
 'Dabur India Ltd',
 'Britannia Industries Ltd',
 'Parle Biscuits Pvt Ltd',
 'Dabon Internatonal Pvt Ltd',
 'Milkfood Ltd',
 'Milkmade Food India',
 'Nestle India Limited',
 'Hindustan Coca-Cola Beverages Pvt Ltd',
 'Pepsico India Holdings-Beverages Div',
 'S R Foils And Tissue Ltd',
 'Nirulas Foods',
 'Hindustan Unilever Limited',
 'Bio Veda Action Research Pvt. Ltd.',
 'Modern Bread',
 'Hindustan Unilever Limited',
 'Bio Veda Action Research Pvt. Ltd.',
 'Modern Dairy',
 'Modi Sugar Mills',
 'Mohun Meakins Ltd',
 'Parle Biscuits Pvt Ltd',
 'Monginis Foods Ltd',
 'Monginis Foods Pvt Ltd',
 'VIBHAVA MARKETING',
 'Jineshwar Writing Instruments',
 'M S Fashion',
 'Reckitt Benckiser India Limited -Health',
 'Reckitt Benckiser India Limited',
 'Birla Electricals Ltd',
 'e',
 'Chamunda Hosiery',
 'The Bombay Dyeing & Mfg.Co.Ltd.',
 'Vogue Exports',
 'Seven Star Agency',
 'ABRL',
 'Mahadev Costyn',
 'More Fresh',
 'Nirlon India',
 'Nash',
 'Abrl- PL',
 'M/S Mohini Stores',
 'Kothari Hankies',
 'Ambika',
 'Rupali Fashions',
 "Mumma'S Creations",
 'Chinar Forge',
 'Rooptex Pvt Ltd',
 'Fashion Fabrics',
 'Windmill Creations',
 'Shankar Enterprises',
 'Alfa Knitting Inc.',
 'Khimmi International',
 'Cosmos International',
 'Unbranded',
 'ABRL',
 'Herman Milkfoods Limited_ABRL',
 'Saabjee',
 'Own Brands',
 'Dreamwork',
 'Fashionable Attire',
 'Hindustan Unilever Ltd',
 'Hunter International',
 'Shivam Enterprises',
 'Abrl- PL',
 'Seven Star Agency',
 'Saaks International',
 'Jagdamba cutlery',
 'Universal Studios',
 'M/S Appu Nutrition Pvt Ltd_ABRL',
 'e',
 'Sparsh Jewellery',
 'KULDEEP IMPEX PVT.LTD.',
 'Shivani Apparels',
 'Sultan Apparels Pvt Ltd',
 'Mahadev International',
 'Suresh Hosiery',
 "Piaa's Exclusive",
 'R.K.Marketing',
 'More',
 'Footguard India Ltd',
 'Jeraj & Co.',
 'More',
 'Chinar Forge',
 'ABRL Commissary',
 'Ritex Overseas Pvt Ltd',
 'Cona Traders',
 'Sharda Processor',
 'Anup Traders',
 'Shree Tech Plastics',
 'Banana Boys',
 'Tapan Agro Industries PVT LTD',
 'The Bombay Dyeing & Mfg.Co.Ltd.',
 'Devka Arts',
 'Saaks International',
 'KVG Traders',
 'Shamrock',
 'Srinath Cotton Combines',
 'Private Label',
 'Home DOcor',
 'Suresh Hosiery Pvt Ltd',
 'Dhananjai Apparels',
 'Kapoor Overseas',
 'Jupiter Knitting Company',
 'Swastik Housewares',
 'Abrl- PL',
 'e',
 'J.B.MANUFACTUIRNG CO.',
 'Noya Linens',
 'More',
 'Abrl- PL',
 'Unbranded',
 'ABRL',
 'Private Label',
 'ABRL',
 'ABRL',
 'Reckitt Benckiser India Limited - Hygiene & Home',
 'Reckitt Benckiser India Limited',
 'Yash Raj Films Pvt Ltd',
 'Moser Baer India Ltd',
 'Mother Dairy',
 'Mother Dairy Fruits & Vegetable Pvt Ltd',
 'Mothers Recipe',

In [83]:
#Your list of brand names
manufacturer_names_1 = U

# Create a set from the list to remove duplicates
unique_manufacturer_names_1 = set(manufacturer_names_1)

# Convert the set back to a list if you need to
unique_manufacturer_names_list_1 = list(unique_manufacturer_names_1)

#print(unique_manufacturer_names_list_1)  # Output: ['Brand A', 'Brand B', 'Brand C
Unique_M=pd.DataFrame(unique_manufacturer_names_list_1)
Unique_M
Unique_M= Unique_M.rename(columns={0:'Manufacturer names'})
Unique_M

                              Manufacturer names
0                                    Nivea India
1     Rising Sun Aromas & Spirituals Pvt Limited
2                                            YLG
3                     Pickwick Hygienic Products
4        Minerva Merchandising Company Pvt. Ltd.
...                                          ...
4010                        Pyramid Plastics Ltd
4011                                  Srikrishna
4012                   Sree Bharat Food Products
4013                                 R V Traders
4014                         DESAI BROSTHERS LTD

[4015 rows x 1 columns]

In [59]:
Unique_M=pd.DataFrame(unique_manufacturer_names_list_1)

In [60]:
Unique_M

                                               0
0                                    Nivea India
1     Rising Sun Aromas & Spirituals Pvt Limited
2                                            YLG
3                     Pickwick Hygienic Products
4        Minerva Merchandising Company Pvt. Ltd.
...                                          ...
4010                        Pyramid Plastics Ltd
4011                                  Srikrishna
4012                   Sree Bharat Food Products
4013                                 R V Traders
4014                         DESAI BROSTHERS LTD

[4015 rows x 1 columns]

In [61]:
 Unique_M= Unique_M.rename(columns={0:'Manufacturer names'})

In [62]:
 Unique_M

                              Manufacturer names
0                                    Nivea India
1     Rising Sun Aromas & Spirituals Pvt Limited
2                                            YLG
3                     Pickwick Hygienic Products
4        Minerva Merchandising Company Pvt. Ltd.
...                                          ...
4010                        Pyramid Plastics Ltd
4011                                  Srikrishna
4012                   Sree Bharat Food Products
4013                                 R V Traders
4014                         DESAI BROSTHERS LTD

[4015 rows x 1 columns]

In [63]:
df_fd

          SYMBOL
0            BIL
1     CHAMBLFERT
2       JKCEMENT
3      ORIENTPPR
4           GLFL
...          ...
1879       GICRE
1880     VIVIDHA
1881      GMBREW
1882   BORORENEW
1883  ALEMBICLTD

[1884 rows x 1 columns]

In [64]:
left_on = ['Manufacturer names']

right_on = ['SYMBOL']
    
matched_results = fuzzymatcher.fuzzy_left_join( Unique_M,
                                            df_fd,
                                            left_on,
                                            right_on,
                                            left_id_col='Manufacturer names',
                                            right_id_col='SYMBOL')    
    
    
    
    
    
    
    
    
cols = [
    "best_match_score", "Manufacturer names", "SYMBOL"
]

new_df_M_names_symbol=matched_results[cols].sort_values(by=['best_match_score'], ascending=False)

In [65]:
U_new_one=new_df_M_names_symbol.reset_index()

In [66]:
U_new_one.drop(['index'],inplace=True,axis=1)

In [67]:
U_new_one

      best_match_score         Manufacturer names    SYMBOL
0             0.332007                   Prestige  PRESTIGE
1             0.287771                  Wipro Ltd     WIPRO
2             0.271453            Archies Limited   ARCHIES
3             0.260055      Rainbow International   RAINBOW
4             0.257664           Unitech Products   UNITECH
...                ...                        ...       ...
4010               NaN      Concept Home Textiles       NaN
4011               NaN                      Kiara       NaN
4012               NaN                 Srikrishna       NaN
4013               NaN  Sree Bharat Food Products       NaN
4014               NaN                R V Traders       NaN

[4015 rows x 3 columns]

In [68]:
import pandas as pd
file_name = 'FuzzyMatch MAnufacturer name SYMBOL.xlsx'
  
# saving the excel
U_new_one.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [69]:
df_fd

          SYMBOL
0            BIL
1     CHAMBLFERT
2       JKCEMENT
3      ORIENTPPR
4           GLFL
...          ...
1879       GICRE
1880     VIVIDHA
1881      GMBREW
1882   BORORENEW
1883  ALEMBICLTD

[1884 rows x 1 columns]

In [71]:
NSE

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2,1,INE105C01023,2
...,...,...,...,...,...,...,...,...
1879,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10,1,INE358U01012,10
1880,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10,1,INE840M01016,10
1881,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10,1,INE217A01012,10
1882,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1,1,INE010B01027,1
1883,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10,1,INE768C01010,10

In [72]:
df_comapny=NSE['NAME OF COMPANY']

In [73]:
Company_list=df_comapny.to_list()

In [77]:
#Your list of brand names
manufacturer_names_1 = Company_list

# Create a set from the list to remove duplicates
unique_manufacturer_names_1 = set(manufacturer_names_1)

# Convert the set back to a list if you need to
unique_manufacturer_names_list_1 = list(unique_manufacturer_names_1)

#print(unique_manufacturer_names_list_1)  # Output: ['Brand A', 'Brand B', 'Brand Cunique_manufacturer_names_list_1
df_Company_name_G=pd.DataFrame(unique_manufacturer_names_list_1)
df_Company_name_G

                                       0
0              Medicamen Biotech Limited
1                  Rane Holdings Limited
2             Renaissance Global Limited
3             Poonawalla Fincorp Limited
4              HBL Power Systems Limited
...                                  ...
1875  Dhruv Consultancy Services Limited
1876      R. S. Software (India) Limited
1877     Servotech Power Systems Limited
1878         Welspun Enterprises Limited
1879               Liberty Shoes Limited

[1880 rows x 1 columns]

In [78]:
df_Company_name_G = df_Company_name_G.rename(columns={0:'NAME OF COMPANY'})

In [79]:
df_Company_name_G

                         NAME OF COMPANY
0              Medicamen Biotech Limited
1                  Rane Holdings Limited
2             Renaissance Global Limited
3             Poonawalla Fincorp Limited
4              HBL Power Systems Limited
...                                  ...
1875  Dhruv Consultancy Services Limited
1876      R. S. Software (India) Limited
1877     Servotech Power Systems Limited
1878         Welspun Enterprises Limited
1879               Liberty Shoes Limited

[1880 rows x 1 columns]

In [84]:
Unique_M

                              Manufacturer names
0                                    Nivea India
1     Rising Sun Aromas & Spirituals Pvt Limited
2                                            YLG
3                     Pickwick Hygienic Products
4        Minerva Merchandising Company Pvt. Ltd.
...                                          ...
4010                        Pyramid Plastics Ltd
4011                                  Srikrishna
4012                   Sree Bharat Food Products
4013                                 R V Traders
4014                         DESAI BROSTHERS LTD

[4015 rows x 1 columns]

In [85]:
left_on = ['Manufacturer names']

right_on = ['NAME OF COMPANY']
    
matched_results = fuzzymatcher.fuzzy_left_join( Unique_M,
                                            df_Company_name_G,
                                            left_on,
                                            right_on,
                                            left_id_col='Manufacturer names',
                                            right_id_col='NAME OF COMPANY')    
    
    
    
    
    
    
    
    
cols = [
    "best_match_score", "Manufacturer names", "NAME OF COMPANY"
]

Final_new_df_M_names_symbol=matched_results[cols].sort_values(by=['best_match_score'], ascending=False)

In [86]:
Final_new_df_M_names_symbol

,best_match_score,Manufacturer names,NAME OF COMPANY
16818,1.093588,The Ugar Sugar Works Limited,The Ugar Sugar Works Limited
59005,0.832247,Mrs Bector Food Specialities,Mrs. Bectors Food Specialities Limited
25913,0.826585,ADITYA BIRLA FASHION AND RETAIL LTD,Aditya Birla Fashion and Retail Limited
39669,0.804730,Kewal Kiran Clothing Limited,Kewal Kiran Clothing Limited
6313,0.785728,Butterfly Gandhimathi Appliances Ltd,Butterfly Gandhimathi Appliances Limited
...,...,...,...
70743,NaN,Electrolux,NaN
71034,NaN,Somchand Jethalal,NaN
71158,NaN,EVR,NaN
71173,NaN,Kiara,NaN
71188,NaN,Srikrishna,NaN

In [87]:
Final_new_df_M_names_Comapny=Final_new_df_M_names_symbol.reset_index()

In [88]:
Final_new_df_M_names_Comapny.drop(['index'],inplace=True,axis=1)

In [89]:
Final_new_df_M_names_Comapny

,best_match_score,Manufacturer names,NAME OF COMPANY
0,1.093588,The Ugar Sugar Works Limited,The Ugar Sugar Works Limited
1,0.832247,Mrs Bector Food Specialities,Mrs. Bectors Food Specialities Limited
2,0.826585,ADITYA BIRLA FASHION AND RETAIL LTD,Aditya Birla Fashion and Retail Limited
3,0.804730,Kewal Kiran Clothing Limited,Kewal Kiran Clothing Limited
4,0.785728,Butterfly Gandhimathi Appliances Ltd,Butterfly Gandhimathi Appliances Limited
...,...,...,...
4010,NaN,Electrolux,NaN
4011,NaN,Somchand Jethalal,NaN
4012,NaN,EVR,NaN
4013,NaN,Kiara,NaN
4014,NaN,Srikrishna,NaN

In [90]:
import pandas as pd
file_name = 'FuzzyMatch MAnufacturer name NAME of Company.xlsx'
  
# saving the excel
Final_new_df_M_names_Comapny.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.